[2016-11-24 08:36] championswimmer opened #1 "in crux page, change testimonials"
testimonials currently are of launchpad

[2017-01-26 18:16] prateek27 opened #2 "in Navigation Bar, change URLS"
Blogs and Labs URL pointing to .xyz domain.

[2017-01-26 18:17] championswimmer opened #3 "Correct faq on pandora page"

[2017-01-26 18:17] championswimmer opened #4 "Create elixir page"

[2017-01-26 18:18] championswimmer opened #5 "Move signup/signup to signup/index"

[2017-01-27 05:29] omerjerk commented on #5
Implemented with https://github.com/coding-blocks/coding-blocks.github.io/commit/6393ac7e45d7ea5227b5ade8b2351387983f2de8

[2017-01-27 05:29] #5 closed

[2017-01-27 10:01] omerjerk opened #6 "Add city field to sign up page"

[2017-03-01 13:16] championswimmer commented on #6
done

[2017-03-01 13:16] #6 closed

[2017-03-01 13:16] championswimmer commented on #4
page done, details still left

[2017-03-01 13:16] #4 closed

[2017-03-01 13:17] championswimmer commented on #2
done

[2017-03-01 13:17] #2 closed

[2017-03-01 13:17] championswimmer commented on #1
Done

[2017-03-01 13:17] #1 closed

[2017-03-01 13:18] championswimmer opened #8 "make subtopics available in google search"

[2017-03-01 13:18] championswimmer opened #9 "fix course topic expanded details on pandora"

[2017-03-06 06:39] omerjerk opened #10 "make navigation bar sticky"

[2017-03-07 06:30] omerjerk commented on #10
It has been fixed for now.

[2017-03-07 06:30] #10 closed

[2017-03-28 11:59] omerjerk opened #14 "change phone number for Dwarka"

[2017-04-10 11:24] championswimmer opened #23 "[SEO] add <meta> description"

[2017-04-10 11:25] championswimmer opened #24 "[SEO] Add JSON-LD schema to course pages"

[2017-04-10 11:27] championswimmer opened #25 "[SEO] Add alt to all images"

[2017-04-11 13:43] championswimmer opened #26 "add greater noida centre on map"

[2017-04-11 14:21] championswimmer opened #27 "[SEO] Add contact form on each page"

[2017-04-17 16:21] championswimmer commented on #25
fixed

[2017-04-17 16:21] #25 closed

[2017-04-17 16:21] championswimmer commented on #23
fixed

[2017-04-17 16:21] #23 closed

[2017-04-17 16:23] championswimmer opened #29 "Find a bug / suggest a feature"
Win 20 bounty points by doing either -
 - **Find a bug**

For this you have to mention expected result, and actual outcome, and post screenshots (if required) to substantiate. Vague bug reports that can't be reproduced will not be entertained

or

 - **Suggest a feature**

Suggest a feature that can be added. Flesh it out with technical details, and steps required to implement. Post mocks (if requ

[2017-04-17 16:24] championswimmer opened #30 "Convert logos of courses from PNG/JPG to SVG vectors"

[2017-04-17 17:48] kalbhor opened #31 "[Bug] Details button for bootcamps isn't working"
The details button for [bootcamp](https://codingblocks.com/#home_courses) courses isn't working.

[2017-04-18 16:32] phoenixking25 commented on #31
which css file contains the faulty buttons properties?

[2017-04-19 11:47] championswimmer commented on #31
Should be theme.css

On Tue, Apr 18, 2017, 22:02 Anuj Sharma <notifications@github.com> wrote:

[2017-04-19 12:38] Prajjwal opened #35 "Script detection of dead links, and fix them."

[2017-04-19 12:39] Prajjwal opened #36 "Magnification controls on the Google Maps widget are hidden under the footer."

[2017-04-19 13:14] championswimmer commented on #36
fixed

[2017-04-19 13:14] #36 closed

[2017-04-19 13:14] championswimmer commented on #30
@prateek27 possible ?

[2017-04-19 13:14] championswimmer commented on #26
done

[2017-04-19 13:14] #26 closed

[2017-04-20 09:44] championswimmer opened #38 "bottom right social logos: make them bigger"
<img width="202" alt="screen shot 2017-04-20 at 3 13 24 pm" src="https://cloud.githubusercontent.com/assets/1327050/25224430/fa1c8344-25db-11e7-9719-3c63c2a327ec.png">

[2017-04-20 09:44] championswimmer commented on #14
done

[2017-04-20 09:44] #14 closed

[2017-04-20 10:49] #38 closed

[2017-04-21 10:38] #35 closed

[2017-04-21 12:14] championswimmer opened #45 "[BUG] displaced content section for syllabus"
An example on pandora page (also same for other pages)

<img width="1282" alt="screen shot 2017-04-21 at 5 43 54 pm" src="https://cloud.githubusercontent.com/assets/1327050/25276929/278ba510-26ba-11e7-82cb-aa88d47d9e48.png">

[2017-04-22 06:10] academy-codex opened #47 "BUG/ IMPROVEMENT"
Whenever you open a question on hacker block like for example https://hack.codingblocks.com/practice/p/89

Now if i change URL to some other problem like
https://hack.codingblocks.com/practice/p/100

Then i should get NO PROBLEM FOUND.
 However, the spinner keeps on spinning infinitely in such case.

<img width="960" alt="bug" src="https://cloud.githubusercontent.com/assets/23010145/25301953/64151

[2017-04-23 15:50] hereisnaman commented on #24
JSON-LD Schema is easier to integrate and manage than microdata. Will be working on it.

[2017-04-24 02:35] hereisnaman commented on #24
See [THIS](view-source:https://hereisnaman.github.io/coding-blocks.github.io/courses/launchpad.html) example of how I used JSON-LD markup instead of microdata for review snippets.

[2017-04-24 08:54] hereisnaman commented on #29
Replace the current testimonial slider with a masonry grid, with a lightbox, containg testimonial data from [THESE](https://www.facebook.com/pg/codingblocksindia/photos/?tab=album&album_id=1762909133927422) testimonial images. This way we can add many more reviews to the pages, all visible at the same time; but the same is not possible with the current slider.

More Reviews=>More schema data=>Goog

[2017-04-24 12:27] championswimmer commented on #29
On 24 April 2017 at 14:24, Naman Kumar <notifications@github.com> wrote:

SHould we do it in a separate reviews page ?

[2017-04-24 12:29] championswimmer commented on #47
Thank you so much for filing this bug,

Can you please post it on http://github.com/coding-blocks/hacker-blocks as that's the appropriate repository hack.codingblocks.com :)

[2017-04-24 12:29] #47 closed

[2017-04-24 12:30] championswimmer commented on #3
done

[2017-04-24 12:30] #3 closed

[2017-04-24 12:45] hereisnaman commented on #29
Yeah we can even design a separate testimonial page and arrange reviews category wise, then in that case masonry won't be a nice suggestion, we can have any other design for it.

On the review page we can use microdata and put all the required information on the page. And then  we can put just the aggregate rating schemas on course pages rather than puting reviews schemas, like the below ss and li

[2017-04-26 09:21] championswimmer commented on #31
Done

[2017-04-26 09:21] #31 closed

[2017-04-26 09:42] championswimmer commented on #45
fixed

[2017-04-26 09:42] #45 closed

[2017-05-15 10:26] adarsh1021 opened #56 "problems in the hero slider"
For issue #29

## 1. Found stray text
This piece of stray text was found on the homepage. I know this is silly but I am reporting this because this is easily noticeable while loading since it is on the top of the homepage.
![1](https://cloud.githubusercontent.com/assets/22254286/26053151/5deac14e-3985-11e7-88b2-e21cb47f3468.png)
![3](https://cloud.githubusercontent.com/assets/22254286/26053226/aa0

[2017-05-16 11:01] championswimmer commented on #56
Thanks for submitting the issue !
Please claim your bounty on https://boss.codingblocks.com
(In the PR field, insert link of this issue you opened only)

[2017-05-16 11:54] shaz13 opened #57 "Validate Signup forms cleverly with respective data types"
Current sign up form is not secure, productive wise. City and College fields still accept pure numerical. And check boxes are not validated yet success message pops up (Given, name, email and Phone number are filled perfectly)

[2017-05-16 11:54] shaz13 commented on #57
@championswimmer Please confirm

[2017-05-16 11:55] championswimmer commented on #57
accepting issue - add validation to signup form

[2017-05-17 11:37] Srijancse opened #59 "The team section has column issue in Safari Browser"
<img width="1280" alt="screen shot 2017-05-17 at 5 04 33 pm" src="https://cloud.githubusercontent.com/assets/17395983/26152054/18527d6c-3b23-11e7-801b-22d35bdfd666.png">

Safari browser specific issue. Could be fixed with simple CSS.

[2017-05-19 18:11] hereisnaman commented on #29
@championswimmer looking forward to work the testimonial page, please create a separate issue.

Also bug found at Interview Prep Page and resolved here: https://github.com/coding-blocks/coding-blocks.github.io/pull/61

[2017-05-19 19:35] prateek27 opened #62 "Design a nice layout for achievers and success stories page."
We want to put up photos for achievers (GSOCers, students who have cracked internships and placements )

Expected Design -
There are two parts in the page - A Carosel at the top(4-5 students), followed by a grid layout(50 students)

1) A carousel of success stories( 4-5 cards) in the top of page.
Each success story slider will be a card having student photo, name, college and short paragraph.

2)

[2017-05-19 19:53] prateek27 opened #63 "Design a Nice Layout for Upcoming and Past Events Section"
Page will contain a list of events, Each event will be list item like a facebook event appears in a newfeed.
Check www.facebook.com/codingblocksindia Events section for the sample events.

Events will be fetched from API when API is ready, for now hard code-the layout.

[2017-05-19 19:55] prateek27 opened #64 "Design a Photo Gallery Page"
A nice Photo gallery to share event photos and other random photos.

Suggest new features in Photo Gallery - 50 Bounty points extra.

[2017-05-19 20:06] hereisnaman commented on #64
Some Suggestions here:

- Event photos grouped together and displayed as albums on the main page. Separate pages for each event.
- Event pages linked in the gallery.
- LightBox (fb style)
  - Love counter (insta style)
  - comments (disqus)
- Social Share buttons
- Event story on subpages(event page), describing about the event and outcomes.

[2017-05-20 05:40] Abhi2424shek commented on #63
Working on it.

[2017-05-20 09:29] hereisnaman commented on #24
Resolved here: https://github.com/coding-blocks/coding-blocks.github.io/pull/60

[2017-05-20 10:28] hereisnaman opened #69 "Suggestion: Photo Gallery"
Some Suggestions here:

- Event photos grouped together and displayed as albums on the main page. Separate pages for each event.
- Event pages linked in the gallery.
- LightBox (follow: [fb style](http://sachinchoolur.github.io/lightGallery/demos/comment-box.html))
  - Love counter (insta style)
  - comments (disqus)
- Social Share buttons
- Event story on subpages(event page), describing about th

[2017-05-20 12:42] prateek27 commented on #69
Accepting these suggestions.

[2017-05-20 12:45] hereisnaman commented on #69
For now have integrated [this gallery](http://sachinchoolur.github.io/lightGallery/demos/comment-box.html) locally.

Just have to give a proper layout.

[2017-05-20 13:48] prateek27 opened #72 "Images Slider for Event Section"
https://codingblocks.com/events/index.html

We need a image slider ( similar to home page ) containing photos of CB Graffiti and a group photo.

[2017-05-20 14:30] prateek27 opened #74 "Kids and Online Course section needed on home page"
Highlight the Code4Kids Course on Home Page. Create a small section.

Highlight the Online Course on Home Page. Create a small section.
( Sample Layout attached for reference)

 The Design must be responsive. The text should come below image in case of mobile.

Each section has two parts - Image/ Logo on the left/right.
Content on the opposite side of image.
![layout_changes](https://cloud.githubu

[2017-05-20 16:05] bhavyaagg commented on #74
Please check the PR #77 . I have changed the code according to the layout.

[2017-05-20 16:40] Abhi2424shek commented on #62
Can I work on it @prateek27? Please?

[2017-05-20 17:36] prateek27 commented on #62
Yes Please start working.

[2017-05-20 17:40] prateek27 commented on #62
Use these sample images for grid layout @Abhi2424shek

![adobe_ utkarsh_pandey adobe](https://cloud.githubusercontent.com/assets/5269147/26278125/2fb7d20a-3db1-11e7-95b8-ab31e652c93e.jpg)
![akarsh srivastava](https://cloud.githubusercontent.com/assets/5269147/26278124/2fb75e6a-3db1-11e7-90d5-c46a539dd212.jpg)
![amazon_1](https://cloud.githubusercontent.com/assets/5269147/26278126/2fbc7350-3db1-11e

[2017-05-20 18:40] #72 closed

[2017-05-20 19:27] prateek27 commented on #29
@hereisnaman  Yes we should have student testimonial page, along with a filter to sort testimonials course wise.

[2017-05-20 19:27] #74 closed

[2017-05-20 19:29] #63 closed

[2017-05-20 19:29] hereisnaman commented on #29
@prateek27 sure sir, in pipeline.

[2017-05-20 19:30] prateek27 opened #78 "Design a Student Testimonials page."
We have several courses, and every course has student feedbacks. We want to fetch these feedbacks from quora/ facebook and display on our page. ( They can be fetched once using the script and hardcoded for now)

Discuss features before working on the page.
Suggesting features gets 20 Bounty Points.

[2017-05-20 19:51] prateek27 opened #79 "Resize/Scale Down Images to reduce Loading Time and Web Page Size"
Some of the images like Code4Kids, Online Course Image and may be others are having bigger file size than needed. Resize them to smaller size, no image should have size more than 150-200KB.

Just for the index.html page.

Don't delete the original files, just rename them to imagename_original.

[2017-05-21 05:47] Abhi2424shek commented on #62
Working...

[2017-05-21 09:10] championswimmer opened #81 "move online and c4k section above courses and bootcamps"

[2017-05-21 09:55] #24 closed

[2017-05-21 09:55] championswimmer commented on #59
does it still exist anymore ?

[2017-05-21 12:05] championswimmer commented on #30
done via https://github.com/coding-blocks/coding-blocks.github.io/pull/58

[2017-05-21 12:05] #30 closed

[2017-05-21 14:59] #79 closed

[2017-05-21 15:09] hereisnaman commented on #64
Done: https://github.com/coding-blocks/coding-blocks.github.io/pull/80

[2017-05-21 17:42] #69 closed

[2017-05-21 18:48] Srijancse commented on #59
Yes, it does.

[2017-05-22 07:40] #64 closed

[2017-05-22 08:50] aayusharora opened #84 "Extra and Unusable HTML"
## Steps to reproduce
- Go to [codingblocks.com](https://codingblocks.com/)
- Inspect the logo on the top left.
- You will get some other image which is `display: none` make it `display: block`.
- As the image have a transparent background, make the `background-color: black`.
![67](https://cloud.githubusercontent.com/assets/12194719/26299700/67598b92-3ef9-11e7-98b4-9250bdf83d09.png)

## Expected
-

[2017-05-22 08:51] aayusharora commented on #84
@championswimmer Add the bounty points to this.

[2017-05-22 10:07] hereisnaman opened #85 "Suggestions: Student Testimonials Page"
https://github.com/coding-blocks/coding-blocks.github.io/issues/78

Sir we can use price_table block for a single review layout, with limited content including reviewer name, pic, star rating and then on hover include separate block containing the review description, as done in team section on main page, but using price_table block rather than circular images.

After that we can filter reviews on

[2017-05-22 10:26] hereisnaman commented on #85
Can even integrate load more with AJAX.

[2017-05-22 11:51] a2batic commented on #62
I have worked on following design as per requirements.
Please review it @prateek27
![pr62](https://cloud.githubusercontent.com/assets/12200504/26307497/89ff0780-3f12-11e7-89e0-fe4710369994.png)

[2017-05-22 12:20] bhavyaagg commented on #84
Should the FOUNDRY logo be seen?

[2017-05-22 12:51] aayusharora commented on #84
It should be removed from the code. @bhavyaagg

[2017-05-22 12:54] bhavyaagg commented on #84
@aayusharora done bhaiya.

[2017-05-22 12:57] Abhi2424shek commented on #62
upss, I was working on it a2batic, however since you have made a design prototype, please go on :)

[2017-05-22 14:00] a2batic commented on #62
Hey @Abhi2424shek, I asked @prateek27 to work on it on gitter, I think multiple people can work on the design, they can take up the best of both of them

[2017-05-22 15:00] prateek27 opened #89 "Link home slider link"
Make the "Know More" button point to
https://codingblocks.com/courses/launchpad-online.html
in the 2nd slide of main page.

![boss_fix](https://cloud.githubusercontent.com/assets/5269147/26315019/6e265e30-3f2d-11e7-8331-5056f4c271c8.png)

[2017-05-22 15:06] hereisnaman commented on #89
done: https://github.com/coding-blocks/coding-blocks.github.io/pull/90

[2017-05-22 15:11] #89 closed

[2017-05-22 16:10] aayusharora commented on #84
Thanks @bhavyaagg .. Do claim your points. Closing this :)

[2017-05-22 16:10] #84 closed

[2017-05-22 16:11] bhavyaagg commented on #84
Yes sure. Thank you.

[2017-05-23 08:51] a2batic opened #92 "Bug on Firefox browser"
Due to a div's height, 2 of the card of home page on firefox browser is creating misalignment
![screenshot-codingblocks com 2017-05-23 14-00-13](https://cloud.githubusercontent.com/assets/12200504/26346077/af71dfaa-3fc2-11e7-8737-a943b6971def.png)
![screenshot from 2017-05-23 14-15-48](https://cloud.githubusercontent.com/assets/12200504/26346076/af597c58-3fc2-11e7-9494-12977cd1e1d0.png)

[2017-05-23 09:24] bhavyaagg opened #93 "Prajjwal Bhaiya and Umair bhaiya's picture is giving status 404 on team's page"
Since the image has been removed from the img folder. It has been moved to img/original

![screenshot from 2017-05-23 14-52-10](https://cloud.githubusercontent.com/assets/20207154/26347567/9f82b34e-3fc7-11e7-9463-33c2a92034c3.png)

[2017-05-24 13:00] hereisnaman commented on #85
![18641312_1390886864324028_482268622_o](https://cloud.githubusercontent.com/assets/22571395/26404279/f4345fa4-40ae-11e7-81dd-1149cbd00862.jpg)

[2017-05-24 17:21] prateek27 commented on #93
@bhavyaagg corrected and closing this.

[2017-05-24 17:21] #93 closed

[2017-05-24 17:22] #81 closed

[2017-05-25 00:13] a2batic commented on #64
Some suggestion:
We can dedicate each row for a specific thing. Like one for event, one for courses and etc . It will give a categorised gallery.

[2017-05-25 01:35] hereisnaman commented on #64
@a2batic we are already doing the same. we have multiple galleries meant for that purpose only, I have explained in my PR: https://github.com/coding-blocks/coding-blocks.github.io/pull/80

Still thanks for the suggestion.

[2017-05-26 10:26] hereisnaman commented on #78
My Design has been approved by @prateek27. I am working on it.

[2017-05-26 14:24] anu0012 opened #96 "Bug Report - Inconsistent UI in Safari browser"
The UI of the home page is not the desirable one. There is an unusual gap in Safari browser.

# What it looks like in Chrome

![screen shot 2017-05-26 at 7 50 04 pm](https://cloud.githubusercontent.com/assets/17943805/26498482/d3c6f5fc-424c-11e7-89de-cf85ef6777f7.png)

# In Safari

![screen shot 2017-05-26 at 7 50 47 pm](https://cloud.githubusercontent.com/assets/17943805/26498507/ec2ad1ea-424c-11

[2017-05-26 17:07] prateek27 commented on #85
Bounty Claim Accepted & Closed.

[2017-05-26 17:07] #85 closed

[2017-05-28 14:09] championswimmer commented on #96
bug accepted. bounty added for fixing it. anyone interested please go ahead

[2017-05-28 14:10] championswimmer commented on #92
bug accepted. bounty added. anyone who wants to fix please go ahead

[2017-05-28 14:12] championswimmer commented on #59
#96 mentions it too. If you want your 20 bounty points for pointing out the issue, you'll get it. Since I already added labels on #96, I am closing this

[2017-05-28 14:12] #59 closed

[2017-05-28 14:13] #9 closed

[2017-05-28 14:13] #8 closed

[2017-05-29 08:00] prateekiiest opened #98 "Coming-soon page 'Buttons' doesn't redirect to right page"
Fixing a Bug from #29

Currently when clicking on Know More or Register , it directs to an algorithm page.
![screenshot 7](https://cloud.githubusercontent.com/assets/16035442/26541310/cd5a03da-4472-11e7-802b-fa7e2a2b6eee.png)

It will be great if we can work on a single button like 'See more' and go to this required page, when clicked on it
![screenshot 8](https://cloud.githubusercontent.com/asset

[2017-05-29 08:05] prateekiiest commented on #98
So **SOLUTION**
![screenshot 9](https://cloud.githubusercontent.com/assets/16035442/26541531/a6c8d9c0-4473-11e7-9740-1cea47adc88c.png)

clicking on it will lead to appropriate course section

[2017-05-29 08:40] prateekiiest commented on #98
Should I start working on it?
@championswimmer
@prateek27

[2017-06-02 16:53] hereisnaman commented on #62
@prateek27 done : https://github.com/coding-blocks/coding-blocks.github.io/pull/104

[2017-06-03 04:16] Vatsalgarg1617 commented on #92
@championswimmer  may I contribute in it?

[2017-06-03 10:04] prateek27 commented on #62
@a2batic @hereisnaman  Accepting both of the designs.
@a2batic I will use your page to show winners of our  Hacker Blocks Monthly Contest, please send PR and claim your bounty.
@hereisnaman is page and complete and will be used for success stories.

200 Bounty points for both :D

[2017-06-03 10:04] #62 closed

[2017-06-03 10:07] hereisnaman commented on #62
@a2batic I have used your header image. Saved and did some photoshop. Your work looks really good, hope you dont mind me using the header. :) Thanks.

Thanks @prateek27 .

[2017-06-03 12:04] a2batic commented on #62
Thanks @hereisnaman, yes definitely you can use the header, I can send you svg file if you require. Your are really working awesome :).
Thanks @prateek27

[2017-06-05 03:09] hereisnaman commented on #62
@a2batic thanks a lot. Well can you just submit a PR and replace it with svg. You will get some bounties too :)

[2017-06-05 10:40] the-dagger opened #108 "Broken Team Page on Safari"
Apparently the team page appears to be broken on safari.
It works fine on other browsers.

<img width="919" alt="screen shot 2017-06-05 at 3 52 26 pm" src="https://cloud.githubusercontent.com/assets/6565270/26780861/4f149c46-4a09-11e7-83ab-8aa772482036.png">

[2017-06-05 14:00] anu0012 commented on #108
Already mentioned in #96

[2017-06-05 15:03] the-dagger commented on #108
Oh, didn't know.
Thanks.

[2017-06-05 15:03] #108 closed

[2017-06-06 03:01] hereisnaman commented on #27
@championswimmer @prateek27 resolved: https://github.com/coding-blocks/coding-blocks.github.io/pull/110

[2017-06-06 07:17] #27 closed

[2017-06-06 12:21] #92 closed

[2017-06-06 12:23] omerjerk commented on #98
@prateekiiest You can start working on it for sure. :)

[2017-06-06 12:33] #98 closed

[2017-06-06 13:03] prateekiiest commented on #98
I have sent a PR for this

[2017-06-06 13:34] omerjerk commented on #98
@prateekiiest Merged. :)

[2017-06-13 12:39] prateek27 opened #121 "Design BOSS Logo"
Prefer CB Color scheme. Logo should be flat & simple.

[2017-06-13 12:40] prateek27 opened #122 "Design a 404 page for website"
404 page should be creative and interesting like Github's 404 page.

[2017-06-15 21:21] gabru-md commented on #122
Sir, Can i add a page?
I am not a student at Coding Blocks though.
But i would like to commit a page for the very issue.
May I?

[2017-06-16 09:54] shubhamvashisht commented on #121
I have added a logo i designed here https://drive.google.com/open?id=0B6r_m6bUVO6xNl9OaDFSeG9CWU0
All requirements are taken under consideration.
1. Flat
2. CB color scheme.
3. Its simple and creative :smile:
SVG and PNG both added.

[2017-06-16 10:42] prateekiiest commented on #121
@prateek27
I have worked on making the logo keeping the requirements in mind as said by you.

- Flat

- Simple

- CB color scheme
![screenshot 13](https://user-images.githubusercontent.com/16035442/27223572-99cc5f46-52ae-11e7-8c33-11f39d671af5.png)

[2017-06-17 11:13] championswimmer commented on #121
At least make the logo related to `coding`, `opensource` or `software` :P

[2017-06-17 12:48] prateekiiest commented on #121
@championswimmer
I am adding some designs here

- **First **
![screenshot 21](https://user-images.githubusercontent.com/16035442/27252981-5ca8dee8-5388-11e7-96ab-4ea0e550184c.png)

- **Second**
![screenshot 23](https://user-images.githubusercontent.com/16035442/27253035-40179bc4-5389-11e7-807f-36282ac61616.png)

- **Third**
![screenshot 24](https://user-images.githubusercontent.com/16035442/272530

[2017-06-18 02:54] prateekiiest commented on #121
@prateek27 , @championswimmer , pls check these logos.

[2017-06-19 16:07] prateek27 commented on #121
@prateekiiest First one is looking good, can you provide some more ?

[2017-06-19 17:00] prateekiiest commented on #121
Yeah sure. I will be adding some more logos in the meantime. :)

[2017-06-21 07:14] hereisnaman commented on #62
@a2batic can you please send the SVG ?

[2017-06-22 07:34] JeetuGoel commented on #29
We can develop a feature, so that the video of the previous class is played online, a few hours before the next class, and the students can login to watch it, which makes it easy for everyone to revise the lectures and also for those who missed the classes for some reason.

[2017-06-22 20:11] ananay commented on #122
@prateek27 Is this issue still open?

[2017-06-23 17:21] ArushiSinghal commented on #121
@prateek27 @championswimmer Please have a look on these icons
![imageedit_23_8686975851](https://user-images.githubusercontent.com/20858804/27493072-0cd263b6-5866-11e7-87f6-f2a394d3deee.jpg)
![imageedit_14_3722584825](https://user-images.githubusercontent.com/20858804/27493074-0e55610c-5866-11e7-8d19-2d907414bd32.jpg)
![imageedit_14_9276705589](https://user-images.githubusercontent.com/20858804/27

[2017-06-23 18:14] prateekiiest commented on #121
@prateek27
Some more logos coming you way
![screenshot 29](https://user-images.githubusercontent.com/16035442/27495002-e59d8cf0-586d-11e7-8f13-2631e5ce86fa.png)

![Uploading Screenshot (30).png…]()

[2017-06-24 06:08] championswimmer opened #130 "Move the gallery folder to github.com/coding-blocks/gallery repo"

[2017-06-24 06:09] #78 closed

[2017-06-24 06:09] #57 closed

[2017-06-24 06:11] championswimmer commented on #121
@ArushiSinghal logo 11 looks nice.
Can you design it in CB's colors (red fc4f4f and shades of grey)

[2017-06-24 06:14] championswimmer opened #131 "rename gsocians to gsocers here https://codingblocks.com/success-stories/"

[2017-06-24 06:15] championswimmer opened #132 "resize photos here https://codingblocks.com/success-stories/"
they are slowing down page load. resize them to 50% of their current height and width.

[2017-06-24 06:53] prateekiiest commented on #121
@championswimmer
@prateek27
how are the logos?

[2017-06-24 08:54] hereisnaman commented on #131
resolved: https://github.com/coding-blocks/coding-blocks.github.io/pull/133

[2017-06-24 09:27] ArushiSinghal commented on #121
@championswimmer @prateek27 here are some shades of logo 11 with colours including white,#fc4f4f and #e6e1dc which are the CB's colors.
![imageedit_67_6268591642](https://user-images.githubusercontent.com/20858804/27507454-6d0d2c66-58ed-11e7-8729-5dc66f25b9a6.png)
![imageedit_48_9979904606](https://user-images.githubusercontent.com/20858804/27507457-6f630134-58ed-11e7-88e1-196504256503.png)
![imag

[2017-06-24 10:23] prad0 commented on #121
![boss_logo](https://user-images.githubusercontent.com/29672940/27507819-3ac67426-58f5-11e7-9438-559baa1b7743.png)

[2017-06-24 10:25] prad0 commented on #121
2)
![boss_logo2](https://user-images.githubusercontent.com/29672940/27507833-92083634-58f5-11e7-8c13-265d08ea6b58.png)

[2017-06-24 16:15] peropranav commented on #132
solved #134

[2017-06-24 16:19] hereisnaman commented on #130
@championswimmer @prateek27 please initialise the repo.

[2017-06-24 16:24] prateek27 commented on #122
@ananay  Yes. You can work on it. I can compare the designs.

[2017-06-24 16:41] championswimmer commented on #130
done

[2017-06-24 17:30] #131 closed

[2017-06-24 18:09] peropranav commented on #132
#136
@prateek27
height and width resize from 1633 pixels to 500 and passed through omptimizilla

[2017-06-25 07:03] JeetuGoel commented on #29
![image](https://user-images.githubusercontent.com/25008517/27514246-27b5af20-59a2-11e7-9e13-cb0dbcd6025c.png)

Contents of navbar are not aligned properly.

[2017-06-25 15:35] #132 closed

[2017-06-25 19:19] ArushiSinghal commented on #29
@championswimmer @prateek27
when on the page https://codingblocks.com/resources/ and clicked on the Coding block icon it is not redirecting to the home page.
![imageedit_1_8900677811](https://user-images.githubusercontent.com/20858804/27518990-441f873c-5a09-11e7-91b6-3b3c73da7433.gif)

[2017-06-25 20:13] ArushiSinghal commented on #29
For good design in the competition tag if we select any option (hackerblock or BOSS) it should open in new tab.
![imageedit_4_4362710047](https://user-images.githubusercontent.com/20858804/27519393-dcfd31e6-5a10-11e7-811d-bc21edf3a2a8.gif)

[2017-06-27 06:27] ArushiSinghal commented on #121
@championswimmer  please review.

[2017-06-28 06:08] ArushiSinghal commented on #122
@prateek27 Please review
a)
![imageedit_2_2331844996](https://user-images.githubusercontent.com/20858804/27622645-fceafd58-5bf5-11e7-848b-1cb2523dbd1b.png)
b)
![imageedit_6_3767478901](https://user-images.githubusercontent.com/20858804/27622646-00690290-5bf6-11e7-8367-cd3fe901f8cb.png)
c)
![imageedit_4_4593279886](https://user-images.githubusercontent.com/20858804/27622647-00ad8b0e-5bf6-11e7-9050-

[2017-06-28 15:55] ArushiSinghal opened #137 "https://codingblocks.com/resources/ page is not redirecting to home when clicked on the Coding block icon."
![imageedit_1_8900677811](https://user-images.githubusercontent.com/20858804/27647228-7a3512b0-5c48-11e7-9c1f-8c0e1e54efdc.gif)

[2017-06-28 17:12] ArushiSinghal opened #138 "If redirecting to new web-page then it should open in new tab/page."
In this example In "competition" if click on Hacker-blocks It should open in new tab.
![screenshot from 2017-06-26 01-38-41](https://user-images.githubusercontent.com/20858804/27650600-06c4813e-5c53-11e7-9886-221d55ca7b54.png)

[2017-06-29 09:41] championswimmer commented on #121
number 3 of https://github.com/coding-blocks/coding-blocks.github.io/issues/121#issuecomment-310827831 looks good. You can make a PR to add it to the BOSS side.

Not part of this bounty (you'll get it when we start using the logo), can you also design a monochrome version (in white outlines maybe.) which can look good when using on a red background or any dark background)

[2017-06-29 11:38] #137 closed

[2017-06-29 12:14] ArushiSinghal commented on #121
@championswimmer Yes.

[2017-06-30 17:20] arvindkalra opened #145 "Path for js files not correct in index.html"
i just started working on this project but the index.html page has some issues.
![webstorm1](https://user-images.githubusercontent.com/29686907/27746571-62d4453e-5de5-11e7-843e-e9000c815be2.png)
the path for the js files seems to be wrong as when the js files are given the path with / (slash in the beginning) the browser shows 404 error.
But,
![webstorm2](https://user-images.githubusercontent.com/

[2017-07-01 07:27] parimatrix commented on #122
Is the issue still open. I would like to work on this.

[2017-07-01 08:05] parimatrix commented on #122
@prateek27
I worked on a design. One thing that I would like to say is that making a heavy page with resources is not an optimum situation for a page which is of no use to the user. Please review. Any feedback would be great.

![screenshot_404](https://user-images.githubusercontent.com/25114873/27760317-1a9f6834-5e62-11e7-9d38-6787533db688.png)

[2017-07-03 12:17] ArushiSinghal commented on #122
@prateek27  please review.

[2017-07-03 16:24] hereisnaman commented on #122
@ArushiSinghal nice work. f) one looks good to me. 👍

[2017-07-03 18:29] ananay commented on #122
@ArushiSinghal they look great but I guess they won't be taking templates. The first one is copyrighted, infact.

![image](https://user-images.githubusercontent.com/5569219/27804267-979a9ad0-604b-11e7-8dd8-5539f6b14428.png)

[2017-07-03 19:13] ArushiSinghal commented on #122
@ananay we can use them, but for the first one if we want to use that then we have to just keep the backlink as it.

[2017-07-04 14:30] parimatrix commented on #122
@ArushiSinghal
They look nice. But are they designed completely using HTML CSS or some other resources too or right now they are designs and not webpages

[2017-07-04 15:07] ArushiSinghal commented on #122
@parimatrix yes, they are designed using HTML, CSS and javascript.
And they are not the final designs, some editing is required in them.

[2017-07-04 20:59] ananay commented on #122
@championswimmer  @prateek27 Here's my 404 Page. Fully Responsive. Created from scratch to match the color scheme and style of coding blocks.

https://ananay.me/404cb/

[2017-07-05 08:41] ArushiSinghal commented on #122
@ananay Nice design but I think the page is not responsive.
when I am resizing the page, the logo is hiding behind.
I attach the screenshots of the page:-
a)
![screenshot from 2017-07-05 14-05-24](https://user-images.githubusercontent.com/20858804/27856356-7fe95d40-618b-11e7-8d13-5543933ef244.png)
b)
![screenshot from 2017-07-05 14-06-45](https://user-images.githubusercontent.com/20858804/27856358

[2017-07-05 08:45] ananay commented on #122
@ArushiSinghal Such a ratio of width and height doesn't exist for any device. However, I'll try my best to fix that.

[2017-07-05 08:47] ananay commented on #122
@ArushiSinghal such a ratio of device width and device height doesn't exist, so that way of testing responsiveness is incorrect.

[2017-07-08 16:44] championswimmer commented on #138
Make all external links target="_blank"

[2017-07-08 17:27] ArushiSinghal commented on #138
@championswimmer working.

[2017-07-08 19:34] ananay commented on #122
#150 Here you go @prateek27 ! :D

[2017-07-11 11:19] prateek27 commented on #122
I have accepted the final design sent by @ananay and bounty has been increased to 500 seeing the creativity involved. Everyone gave nice tries but this one is the best. Keep contributing ! The issue is now closed.
You can also check the animations on the page - https://codingblocks.com/xyz
![404](https://user-images.githubusercontent.com/5269147/28065993-bd3e256e-6658-11e7-9077-db5ba0c08ce6.png)

[2017-07-11 11:19] #122 closed

[2017-07-21 11:31] Nshul commented on #138
@championswimmer Please close this issue,if it is resolved

[2017-07-31 06:30] prateekiiest commented on #121
@championswimmer
how are the boss logos which I gave.
Any improvements to be made?

[2017-07-31 06:37] prateekiiest opened #160 "Game Development redirects to 404 instead of Coming Soon Page"
Currently opening Game Development course should lead to the Coming Soon Page instead of a 404 error page.

It shows this
![screenshot 2017-07-31 12 06 23](https://user-images.githubusercontent.com/16035442/28765533-d8a8b78e-75e8-11e7-8cfb-4311fd52bdaa.png)

[2017-07-31 06:37] prateekiiest commented on #160
I am sending a PR for this

[2017-07-31 09:08] prateekiiest commented on #160
#163

[2017-08-03 08:35] #160 closed

[2017-08-03 08:36] championswimmer commented on #145
you need to use gulp to build and then serve from that folder

[2017-08-03 08:36] #130 closed

[2017-08-03 08:36] #138 closed

[2017-08-03 08:37] championswimmer opened #166 "add details in readme about gulp. (how to build/serve for dev purpose)"

[2017-08-03 08:38] championswimmer commented on #166
@hereisnaman please do this as soon as you can

[2017-08-03 09:10] championswimmer opened #167 "creating pages for centres"
we need pages like -
 - codingblocks.com/centres/greater-noida
 - codingblocks.com/centres/dwarka
 - codingblocks.com/centres/gurgaon
 - codingblocks.com/centres/pitampura

Make a centre template, and use hbs and json

The pages should have following data -
 - location
 - team
 - courses

The data is as follows

 - Pitampura
   - Team
      - Deepak
      - Rishab
      - Nishchay
      - Garima

[2017-08-03 09:40] championswimmer opened #168 "[SEO] There are no H1 tags in index page"
@hereisnaman please take care of this

[2017-08-03 09:41] prateekiiest commented on #160
@championswimmer ., I didnt receive  any bounty for this

[2017-08-03 09:51] championswimmer opened #169 "Add page title to https://codingblocks.com/courses/mathsgeeks.html"
@hereisnaman

[2017-08-03 09:52] championswimmer opened #170 "Fix review student images on https://codingblocks.com/bootcamps/competitiveprogramming.html"
Here all images are broken. fix the paths
https://codingblocks.com/bootcamps/competitiveprogramming.html

[2017-08-03 10:14] hereisnaman commented on #169
Removed the section rather, working on making the partial review section add related reviews automatically.

[2017-08-03 10:37] #169 closed

[2017-08-04 18:27] #167 closed

[2017-08-05 04:29] hereisnaman commented on #166
@championswimmer done.

[2017-08-07 11:55] hereisnaman commented on #170
@championswimmer have removed the section. Please close this.

[2017-08-08 06:18] AshishkrGoyal commented on #29
@championswimmer we can add a AJAX preloader for our site, on slow network it will enhance user experience.

[2017-08-08 06:35] AshishkrGoyal opened #181 "Add Smooth Scrolling While Clicking On An Anchor Tag"
@championswimmer

![screenshot 4](https://user-images.githubusercontent.com/25322851/29059081-6dea755a-7c31-11e7-8090-da4880c8213a.png)
when we click on anchor tag like in this screenshot on intro,elements, FAQ , it goes directly to that particular section with strict move but not with smooth scrolling, by adding smooth scrolling it will enhance user experience.

[2017-08-08 06:42] AshishkrGoyal opened #182 "Bug Report- Reverse Clicking Is Not Working"
![screenshot 6](https://user-images.githubusercontent.com/25322851/29059307-89af172c-7c32-11e7-80e7-1fa5f88ddc24.png)
when we click on heading it open the description but after opening description when we click to close it, it is not working
description can we close only when we open other heading.
we can add a script for closing it also while clicking again on the same heading.

[2017-08-08 06:50] AshishkrGoyal opened #183 "Loading Animation"
![screenshot 9](https://user-images.githubusercontent.com/25322851/29059554-beab46f2-7c33-11e7-82db-f04eb453f90a.png)
During loading of web page image is not showing while other content is visible. by adding preloader we can avoid this.

[2017-08-19 12:35] riktimmondal commented on #168
Please help me.I am unable find the index page in the source files

[2017-08-19 15:59] hereisnaman commented on #168
@riktimmondal check the readMe to know the project structure.

[2017-08-20 08:34] championswimmer opened #196 "do we require all these font weights"
https://github.com/coding-blocks/coding-blocks.github.io/blob/015c4a934373ddaf0885f3cbcdde8532d9e7131c/src/assets/styles/custom.css#L2

@hereisnaman please check and reduce if possible

[2017-08-20 10:29] hereisnaman commented on #196
Lato used by the theme-fire with 300,400,700 being used.
Nuinto being the body font, normal and bold obviously needed, 500 used at some places.
Raleway being the font for the headings with 300 but others can also be used to customize content.

[2017-09-05 21:06] #196 closed

[2017-09-05 21:07] championswimmer commented on #183
You want to work on it ?

[2017-09-05 21:07] #170 closed

[2017-09-08 16:22] AshishkrGoyal commented on #183
@championswimmer yes sir..
i will solve it..Thanks Sir 😄

[2017-09-08 16:29] hereisnaman commented on #183
@AshishkrGoyal you can add the script to scripts partial which gets add up on every page.

[2017-09-10 06:22] AshishkrGoyal commented on #181
@hereisnaman @championswimmer
can i work on this??

[2017-09-10 18:44] bajajerk opened #212 "Spelling mistake"
There's a spelling mistake on the home page

![screenshot from 2017-09-11 00-08-34](https://user-images.githubusercontent.com/29681232/30251870-1761c322-9686-11e7-926d-9492ba905b59.png)

Master ((Compettive ))Programming with our new Online class. Did we mention it comes with a kickass handbook?

[2017-09-26 14:24] championswimmer opened #232 "add sample clas for elixir live"
use this as sample class
https://www.youtube.com/watch?v=mFbitwLUCRs

make same as https://codingblocks.com/courses/launchpad-online.html page

[2017-09-26 14:28] #212 closed

[2017-09-26 14:33] #166 closed

[2017-09-26 14:34] #56 closed

[2017-09-26 14:34] #96 closed

[2017-09-26 14:34] #121 closed

[2017-10-08 16:19] hereisnaman commented on #232
was resolved.

[2017-10-13 06:50] #232 closed

[2017-10-13 06:52] championswimmer opened #240 "Debranding: Scrub "Pandora" and officially use "Android Course""
We will be having
 - Android App Development Course
 - Android Development Live Course

scrub all mentions of "Pandora", we are debranding that name.

[2017-10-13 06:54] championswimmer commented on #240
Create pages like this `/courses/classroom/android.html`
Earlier pandora.html pages can be HTML head redirects (like http://codingblocks.com/boss )

[2017-10-13 06:56] championswimmer opened #241 "Debranding: Scrub "Elixir" and officially use "NodeJS Webdev Course""
We will be having

  - NodeJS Web Development Course
  - NodeJS Webdev Live Course

scrub all mentions of "Elixir", we are debranding that name.

[2017-10-13 06:56] championswimmer commented on #241
Create pages like this -
`/courses/classroom/nodejs.html`
``/courses/online/nodejs.html`
Earlier elixir.html pages can be HTML head redirects (like http://codingblocks.com/boss )

[2017-10-13 15:53] hereisnaman commented on #240
Will be creating android-development.html and web-development.html. Also working on using course id rather than course name everywhere, so might take little more time.

[2017-10-16 06:49] championswimmer opened #243 "add 'alumni' section to team."
at the bottom of the page, create a "Alumni" section.

For now Umair will go there. Later on others who move to greener pastures could feature there.

[2017-10-16 06:54] #241 closed

[2017-10-16 06:54] #240 closed

[2017-12-02 10:29] flaredragon opened #285 "Rupee Sign Not Visible in Windows 7"
A Windows 7 only issue The Rupee Sign with course price is not identified by any browser.
Can be corrected by adding the
![capturse](https://user-images.githubusercontent.com/29121452/33514414-a2d7cc42-d779-11e7-93a4-59101196fab6.PNG)
[Hind Google Font](https://fonts.google.com/specimen/Hind?selection.family=Hind)

[2017-12-05 10:50] witty123 opened #288 "Change disqus account"
<img width="1434" alt="screen shot 2017-12-05 at 4 18 35 pm" src="https://user-images.githubusercontent.com/7976098/33603311-1a8cba80-d9d8-11e7-935c-eac0672459d5.png">
Current disqus account is linked to championswimmer's disqus account in resources part

[2017-12-05 16:12] hereisnaman commented on #288
Have created a discus site coding-blocks.disqus.com with the new account created by Mohd Fahad.
Updated blog and resources with the new shortname. PRs: https://github.com/coding-blocks/blog.codingblocks.com/pull/38 https://github.com/coding-blocks/resources/pull/43

[2017-12-05 22:20] #288 closed

[2017-12-22 10:37] #243 closed

[2017-12-22 10:37] championswimmer opened #309 "what purpose does the contents of includes/ folder serve ?"
@hereisnaman delete, if not required anywhere

[2017-12-22 10:39] hereisnaman commented on #309
used by resources to maintain same nav as the website.

[2017-12-22 14:59] hereisnaman commented on #309
https://github.com/coding-blocks/codingblocks.com/pull/312

[2017-12-28 13:56] championswimmer opened #325 "fix bg-dark on python"
https://codingblocks.com/courses/certified-python-developer.html

[2017-12-28 17:19] #325 closed

[2017-12-28 17:20] #309 closed

[2017-12-28 17:20] championswimmer commented on #285
@flaredragon please add the font. or if possible @hereisnaman please do it

[2017-12-28 17:21] #183 closed

[2017-12-29 18:19] #285 closed

[2018-01-09 05:27] championswimmer opened #339 "add varun hasija to featured people on front page"

[2018-01-09 06:52] hereisnaman commented on #339
pic needs to be updated before that.

[2018-01-12 07:46] championswimmer opened #341 "course rich cards have missing description"
<img width="468" alt="screen shot 2018-01-12 at 1 15 23 pm" src="https://user-images.githubusercontent.com/1327050/34864537-c6fff414-f79a-11e7-9f33-ffb7077f4b5e.png">

[2018-01-13 06:29] tech4GT opened #342 "Podcast not showing up"
Podcast page has not been served, please look into the issue

[2018-01-16 13:52] Sengnumai opened #348 "https://www.facebook.com/sengnu.mai.5095"
https://www.facebook.com/sengnu.mai.5095

[2018-01-16 14:00] Sengnumai commented on #348
https://www.facebook.com/sengnu.mai.5095 this acc my needed..

[2018-01-16 14:02] Sengnumai commented on #348
https://www.facebook.com/sengnu.mai.5095this acc password i need please help me.

[2018-01-16 14:10] Sengnumai commented on #348
This is my girlfriend acc i needed log in this acc. Please help me

[2018-01-16 14:19] #348 closed

[2018-01-16 14:20] championswimmer commented on #342
fixed

[2018-01-16 14:20] #342 closed

[2018-01-19 16:23] #339 closed

[2018-03-26 10:09] greenkeeper[bot] opened #385 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-04-13 10:55] championswimmer opened #395 "[seo] reduce hero height on course pages"

[2018-04-13 10:55] championswimmer opened #396 "[seo] content on course pages > 1000 words"

[2018-04-13 10:56] championswimmer opened #397 "[seo] try to put highlights into hero slider on course pages"

[2018-05-15 02:19] till-tomorrow commented on #29
![cb resources menu](https://user-images.githubusercontent.com/21954525/40033073-63bff982-5814-11e8-80c3-da667430602c.JPG)

The contents of the menu are hardly visible on this page.
change the font color to red(or something you want to).

[2018-05-15 07:35] shreyateeza opened #441 "[Bug]Broken Links in Footer"
## Description
The highlighted links are either broken or point to another link.
![cbfooter](https://user-images.githubusercontent.com/30488330/40043982-b46fd0b2-5843-11e8-86a5-3b2a076c408c.PNG)

## Required
[ ] Replace the broken link with another link to a post from the [FB page of Coding Blocks](https://www.facebook.com/codingblocksindia/). [For Twitter Feed]
[ ] Replace the broken links to app

[2018-05-15 15:03] till-tomorrow opened #442 "[Bug] Add more courses in the footer"
The courses namely,
Game Dev
Interview Prep
Python
Competitive Programming
web Dev(Django)
are not included in the footer. Please add them there as well.
This improvement(or bug) is in reference to issue #29 .

![coursesincomplete](https://user-images.githubusercontent.com/21954525/40065361-3b0c437c-587f-11e8-8282-96b979ee97d3.JPG)

[2018-05-15 15:16] till-tomorrow opened #443 "[improvement suggestion] add a message if no events are there"
![noeventspresent](https://user-images.githubusercontent.com/21954525/40065971-a89c4e54-5880-11e8-979b-76f6a4fdc513.JPG)

If no past/upcoming events are there, then atleast provide a suitable message so  that the page does not look this passive...

This suggestion is in reference to the issue #29 .

[2018-05-17 15:32] till-tomorrow opened #444 "overlapping icons"
![screenshot_20180517-204958](https://user-images.githubusercontent.com/21954525/40187613-887ee65e-5a15-11e8-8678-a55db7a44362.jpg)

In reference to issue #29

[2018-05-17 15:36] till-tomorrow opened #445 "dropdown menu not working in mobile"
![menuoptns](https://user-images.githubusercontent.com/21954525/40187813-1474d22c-5a16-11e8-9329-eea0ca59f6a2.jpg)

 in reference to #29

[2018-05-17 15:38] till-tomorrow opened #446 "space not there"
![remocedot](https://user-images.githubusercontent.com/21954525/40187888-4953347a-5a16-11e8-85f1-5b10cde7789f.jpg)

It should be "Competitive Coding" not "Competitive.Coding"

In reference to #29

[2018-05-17 19:04] championswimmer commented on #445
It works perfectly for me

[2018-05-17 19:04] #445 closed

[2018-05-18 03:10] till-tomorrow commented on #444
I wanna help, but I'm unable to do so because I'm new to open source so not able to figure out the epicentre of the problem. It would be great if someone could guide me!

[2018-05-18 03:11] till-tomorrow opened #447 "greater noida center missing"
![greaternoida](https://user-images.githubusercontent.com/21954525/40214225-28de2ad6-5a77-11e8-9237-43cc241351f4.JPG)

In reference to #29

[2018-05-18 16:02] Yagya-Chaudhary commented on #29
![screenshot from 2018-05-18 21-29-03](https://user-images.githubusercontent.com/23234409/40245282-d6705924-5ae2-11e8-9c6d-4957900c42f3.png)
Titles like Resources and Campus Ambassadors are overlapping

[2018-05-19 12:58] Yagya-Chaudhary opened #449 "Refering to #29 , there is an overlap of the texts"
![33086455_1257707954332222_3011684046376796160_n](https://user-images.githubusercontent.com/23234409/40268824-711f57ea-5b92-11e8-97dc-d793c6a5e448.jpg)

[2018-05-19 19:00] championswimmer commented on #447
We are soon shutting down that centre
😭
#sadreaxonly

[2018-05-19 19:00] #447 closed

[2018-05-19 21:21] reshusinghhh opened #451 "In mobile view (iOS), texts below FAQ seem out of structure"
![whatsapp image 2018-05-20 at 2 46 21 am 1](https://user-images.githubusercontent.com/18489140/40273150-a7015d90-5bd8-11e8-839a-adb3c0460dcb.jpeg)

[2018-05-19 21:30] reshusinghhh opened #452 "Mentor description is out of structure on desktop layout"
The  link to refer : https://codingblocks.com/online-courses/competitive-online-study-material.html
![pn](https://user-images.githubusercontent.com/18489140/40273215-f1d58cf0-5bd9-11e8-9ba0-7d5762ab7f4e.PNG)

[2018-05-19 21:33] championswimmer commented on #451
What is wrong ?

[2018-05-19 22:11] reshusinghhh commented on #451
text layout looks wrong, if that counts! :)

[2018-05-20 07:15] championswimmer commented on #451
What layout would you suggest correct? 🤣
It is a sentence too long to be written in one line, so it is wrapped.

[2018-05-20 07:32] reshusinghhh commented on #451
ok ok not so valid issue :)

[2018-05-20 08:20] adeen-s commented on #449
I would like to get this issue assigned to me.

[2018-05-20 09:03] ananay commented on #449
Can't reproduce

[2018-05-20 09:05] vigneshtdev commented on #449
Decrease the viewport size to reproduce the mentioned bug.

[2018-05-20 10:13] vigneshtdev commented on #449
@championswimmer  the body of the resources page doesn't have an explicit a .hbs file. I also think that body was developed here: coding-blocks.github.io/resources  I guess if @championswimmer  you want we can make the resources section to be like others rather than having an external redirect.

[2018-05-20 21:14] #451 closed

[2018-05-20 21:15] championswimmer commented on #449
https://github.com/coding-blocks/resources

[2018-05-21 15:17] Yagya-Chaudhary commented on #449
Can you help in letting me know what we can do to solve this problem?

[2018-05-21 16:15] frunkad commented on #449
PR: https://github.com/coding-blocks/resources/pull/47

I request to do check other stuff as I have removed a lot of code.

[2018-05-21 16:21] frunkad commented on #444
@till-tomorrow
Can you please tell us your device resolution ?
This tool might be helpful: https://www.whatismyscreenresolution.com/

[2018-05-21 16:31] till-tomorrow commented on #444
@frunkad my device is full hd(1080 x 1920 pixels)

[2018-05-21 17:07] frunkad commented on #441
https://github.com/coding-blocks/codingblocks.com/pull/459

I couldn't find the appropriate fb.me link so I created a bit.ly link as it seem odd to have one bit.ly and two fb.me

[2018-05-22 05:31] frunkad commented on #449
Updated fix: https://github.com/coding-blocks/resources/pull/48
The test deploy isn't working properly as the resources are being called from external repo

[2018-05-24 14:46] witty123 opened #464 "Online courses has centre badges at some places"
<img width="1440" alt="screen shot 2018-05-24 at 8 13 00 pm" src="https://user-images.githubusercontent.com/7976098/40492786-eb2f78f8-5f8e-11e8-90c3-1a9802debafd.png">

[2018-05-25 07:34] frunkad commented on #449
Have a look @championswinner

[2018-05-25 07:34] frunkad commented on #449
Please have a look @championswimmer

[2018-05-26 21:45] shreyjain711 opened #469 "links in footer disappear (background and links of the same colour) when hovered over"
In reference to issue #29 (find a bug / suggest a feature)

links in footer disappear, i.e. background and links are now of the same colour, when hovered over.

e.g.

![capture2](https://user-images.githubusercontent.com/31862368/40580458-1dd2b332-615c-11e8-8b47-2bbf8b55c937.PNG)

![capture](https://user-images.githubusercontent.com/31862368/40580424-754e3c9a-615b-11e8-9a74-2c2e5480aad8.PNG)

![ca

[2018-05-26 21:57] shreyjain711 commented on #469
@championswimmer

[2018-05-26 22:00] shreyjain711 commented on #446
@championswimmer does this repository have the resources folder?
I couldn't find it. Please include it in case it isn't present. If it already exists then please point me towards it.

[2018-05-26 22:06] shreyjain711 commented on #469
This occurs only on page [https://codingblocks.com/resources](https://codingblocks.com/resources). Not on the other pages.

[2018-05-27 12:04] till-tomorrow commented on #443
@championswimmer please close this issue.

[2018-05-27 12:21] till-tomorrow opened #471 "Contents of the selected menu item are hardly visible"
![cb resources menu](https://user-images.githubusercontent.com/21954525/40585825-9043e8c6-61d6-11e8-8fb5-eaaf9e140fba.JPG)

The contents of the selected menu item is hardly visible on this page.
change the font color to red(or something you want to).

[2018-05-27 15:55] till-tomorrow commented on #471
@shreyjain711, I mentioned this issue earlier, but my claim was rejected. For evidence, you may check the comments of #29 .
Cheers!

[2018-05-27 17:12] himanshuc3 opened #472 "Responsive site broken at 982 x 502 px"
![screen shot 2018-05-27 at 10 40 37 pm](https://user-images.githubusercontent.com/19166045/40588702-3ec28d62-61ff-11e8-8e2f-ba7bdf1e6129.png)
Bounty Claim #29

[2018-05-28 14:02] Logan1x commented on #446
same @shreyjain711 can't find resources :(

[2018-05-28 14:18] Logan1x commented on #446
Same @shreyjain711 i also could not find resources.

[2018-05-28 15:40] shreyjain711 commented on #446
@Logan1x  did u misspell it or you really found the typo in a markdown file? 😕
Also, if possible, could you please tell me the file's name and it location?

[2018-05-29 01:17] IamRaviTejaG commented on #446
@championswimmer I cannot seem to find the typo anywhere although it exists. Even the `grep` search doesn't return any results.

[2018-05-29 05:18] Logan1x commented on #446
yes, I really found it in md post. that means we need static site generator to generate and deploy the changes.
am I right @championswimmer ?

[2018-05-30 02:28] shreyjain711 commented on #446
@IamRaviTejaG is absolutely right. Although grep doesn't work with special characters but a query for "competitive" should give a list containing the error within it. But unfortunately, it didn't.

@Logan1x  That is the real task yes, but I would say that if you think you have a lead and aren't able to solve the issue yourself, why not share it with others and see if anyone else can do it. This co

[2018-05-30 06:31] Logan1x commented on #446
@hereisnaman its been 3 days since @championswimmer added a label on this issue but not replying us. he might be busy so tagging you to forward us to right direction.

and @shreyjain711 you're looking at the wrong repo.coding block is org and it has a lot of repo where resources folder can be present.

you were right in this line. try searching for resources repo in coding blocks.

[2018-05-30 08:02] hereisnaman commented on #446
@Logan1x The `resource/*` is a separate project, a static site generator based on Jekyll. Here is the repo https://github.com/coding-blocks/resources

[2018-05-30 09:33] till-tomorrow commented on #446
@championswimmer done! have a look.

[2018-05-30 13:24] shreyjain711 opened #475 "links on https://codingblocks.com/resources broken"
In reference to issue #29  (find a bug / suggest a feature)

the section titles, e.g. competitive.coding, javascript, talks and conferences.
All the section headers which are linking to  '/category/#<section-header>',
/category is not present thus the 404 page appears

[2018-05-30 13:35] shreyjain711 commented on #475
@championswimmer please set the bounty points for this bug. I have made the pull request, so wanted to claim the points for it as well 😄

[2018-05-30 17:20] frunkad opened #476 "Register links don't work"
The register buttons/links on https://codingblocks.com/classroom-courses/python-app-dev.html don't seem to work.

![screenshot](https://user-images.githubusercontent.com/33373582/40736503-d426c57c-645b-11e8-97b1-5bce8510c76c.png)

Please assign this to me

[2018-05-30 17:25] frunkad opened #477 "Courses link broken on Contact Page"
The courses link is broken on https://codingblocks.com/centres/noida.html
![screenshot2](https://user-images.githubusercontent.com/33373582/40736752-8081bfc0-645c-11e8-89f0-9cbbeab865bb.png)

Please assign this to me.
 This bug is in reference to issue #29 .

[2018-06-04 20:05] championswimmer commented on #475
done

[2018-06-04 20:05] #475 closed

[2018-06-06 15:15] till-tomorrow opened #481 "update team members"
Add "new talents"(e.g., Jatin Virmani, Avantika Srivastava, Neelam Sharma) in the team.
![expand team](https://user-images.githubusercontent.com/21954525/41047570-77a692ae-69ca-11e8-8275-9ee26641b25d.JPG)

[2018-06-06 15:18] till-tomorrow commented on #481
In reference to #29

[2018-06-06 18:08] till-tomorrow opened #482 "Read More Review not working"
https://codingblocks.com/classroom-courses/c-plus-plus-for-beginners.html#register-advance

![link not workin](https://user-images.githubusercontent.com/21954525/41056737-bd87d496-69e2-11e8-9c8a-f5d1232e2155.JPG)

In reference to #29

[2018-06-06 18:12] till-tomorrow opened #483 "not redirecting to the contents"
![link not working](https://user-images.githubusercontent.com/21954525/41056811-f9250d8e-69e2-11e8-8253-7fdb8b7e0a76.JPG)

In reference to #29

[2018-06-13 14:45] witty123 opened #487 "CSS for online codingblocks links"
![cbweb](https://user-images.githubusercontent.com/7976098/41358545-368a269c-6f46-11e8-894b-3aca035ac5d2.jpg)

Top banner and links needed below buttons
Links for the course cards will be shared with people who pick this issue

[2018-06-13 15:33] architkshk commented on #487
@witty123 I want to work on this.

[2018-06-13 15:41] venomousboxer commented on #487
@witty123 would also like to work on the issue

[2018-06-13 18:30] witty123 commented on #487
@architkshk @venomousboxer can you start writing the markup and css. Don't use inline css please. Keep a variable named onlineCBlink in the json for each course and that will be used for holding the online cb link. Changes are to be done on codingblocks.com/online-courses

[2018-06-14 08:46] witty123 commented on #487
@architkshk @venomousboxer
c++ beginners : https://online.codingblocks.com/courses/23
nodejs : https://online.codingblocks.com/courses/18
machine learning : https://online.codingblocks.com/courses/40
algo ++ : https://online.codingblocks.com/courses/26
competitive programming : https://online.codingblocks.com/courses/17
java : https://online.codingblocks.com/courses/25
android : https://online.cod

[2018-06-14 13:11] samridhijain27 commented on #487
I also want to work on this!

[2018-06-14 13:57] witty123 commented on #487
@samridhijain27 Feel free to create a PR

[2018-06-15 02:55] till-tomorrow opened #489 "courses not working"
![image](https://user-images.githubusercontent.com/21954525/41447954-9b1fe06c-7075-11e8-9000-6264ee808d47.png)

In reference to #29

[2018-06-15 03:05] till-tomorrow opened #490 "dehradun is not shown on map"
![image](https://user-images.githubusercontent.com/21954525/41448224-f13b70c8-7076-11e8-8fdc-c15e8e7dd4d3.png)

In reference to #29

[2018-06-15 11:30] till-tomorrow opened #492 "overflowing text"
![image](https://user-images.githubusercontent.com/21954525/41465893-9c496934-70bd-11e8-80f4-7e57365f1be4.png)

in reference to #29

[2018-06-16 11:55] sourabh1031 commented on #489
Hello i want to work on this issue .Please help me as this is my first issue which i am trying

[2018-06-18 17:19] Rishabh570 commented on #487
I would like to work on it!!!

[2018-06-24 06:56] Rishabh570 opened #504 "Navbar hides when `990px < width < 1096px`"
Navbar slides down within the above-mentioned range of width and due to the background image has a dark color, navbar seems gone.

We can either change the color of navbar's text items or toggle the navbar at 1096px instead of 990px.

@championswimmer Does it qualify for bounties?

[2018-06-24 06:59] Rishabh570 commented on #504
BTW, I'm working on it...

[2018-06-28 21:35] kunalvishnoi opened #510 "Incomplete display in Campus Ambassador Page"
In https://codingblocks.com/campus-ambassador-program.html in the header part
some part of CAMPUS AMBASSADOR PROGRAM is missing i.e 'R' of AMBASSDOR.

![issue](https://user-images.githubusercontent.com/24695316/42061629-88f30030-7b48-11e8-9e27-6f73bf764165.png)

In this clearly 'R' of AMBASSADOR is missing.
I would like to take up the issue.
with reference to #29

[2018-06-28 22:06] kunalvishnoi commented on #510
Same problem in About US section's
1) Introduction
2) Reviews
3) Newsletter
In Classroom Program's
1) c++ /Launch Pad page
2) Python page
And some other..

[2018-06-28 22:09] kunalvishnoi opened #511 "Overlapping of Content"
In about Us Reviews Page https://codingblocks.com/reviews/
there is a overlapping of name and content in Mobile View
![issue2](https://user-images.githubusercontent.com/24695316/42063147-fad689b0-7b4d-11e8-8e47-9ab7f82cb429.png)
I want to take up the issue
with reference to #29

[2018-06-28 22:14] kunalvishnoi opened #512 "In some Pages headers links are not working"
In classroom programs C++ couse page https://codingblocks.com/classroom-courses/c-plus-plus-for-beginners.html
The three links in headers i.e Highlights/ contents/ FAQ
On clicking the Contents it is not redirecting anywhere but Highlights and FAQ are working fine this is due to mismatching of Id name in href of contents and destination id name.

I would like to take up the issue.
with reference to

[2018-06-28 22:14] kunalvishnoi commented on #512
Same problem in the  JAVA course page https://codingblocks.com/classroom-courses/java-for-beginners.html
Content link is not working

[2018-06-28 22:23] kunalvishnoi opened #513 "Navbar on Scroll"
Its my suggestion as all the pages are too scrollable and if a person wants from middle to change the page for that he wants to go to again the top of the page to choose from navbar
Instead of Navbar only shows on top, if a user backscroll from any instance the navbar should appear.
i.e the navbar will be visible again if someone scroll Up.
with reference to #29

[2018-07-06 13:05] #168 closed

[2018-07-06 13:06] witty123 commented on #145
Outdated issue.

[2018-07-06 13:06] #145 closed

[2018-07-06 13:08] witty123 commented on #181
Closing due to inactivity.

[2018-07-06 13:08] #181 closed

[2018-07-06 13:08] witty123 commented on #182
Closing due to inactivity.

[2018-07-06 13:08] #182 closed

[2018-07-06 13:09] witty123 commented on #341
Closing due to inactivity

[2018-07-06 13:09] #341 closed

[2018-07-06 13:11] #395 closed

[2018-07-06 13:11] #396 closed

[2018-07-06 13:13] #441 closed

[2018-07-06 13:15] witty123 commented on #442
You can add interview prep and Competitive programming in the the course list. Adding more will increase the footer length unnecessarily.

[2018-07-06 13:17] #443 closed

[2018-07-06 13:38] witty123 commented on #492
Please create this issue in accounts repo.

[2018-07-06 13:38] #492 closed

[2018-07-06 13:42] #510 closed

[2018-07-06 13:43] witty123 commented on #512
Please see the already opened issues with respect to the one you are submitting.

[2018-07-06 13:43] #512 closed

[2018-07-06 14:58] architkshk commented on #511
@witty123 resolved this issue in https://github.com/coding-blocks/codingblocks.com/pull/515 .

[2018-07-06 16:57] VibhorCodecianGupta commented on #513
@witty123 Isn't the navbar already sticky?

[2018-07-08 10:40] #482 closed

[2018-07-13 12:23] witty123 opened #533 "Add newsletters in about us tab"
https://codingblocks.com/newsletter/
JUNE 2018 - https://sg-mktg.com/MTUzMTQ0NTU2MXxwTmxTN0tLcWRuZzBsWll0SnZUNmFTRmlxWE1rQW5QbWxHMWttQy1DTzNLUHBlbENtSnZ5UUk1VlNCdjlwRWpnaERjaXR0WEI2eHBmQWgtZmJqRlVHZHhOSGh3QzVzMkw5V3ZBWDNhek1JQVFvcXpWSHgtZDAwZUd1SEU2WFk3Y0s4a1dRYURzRmZoX0stdFh3WldKX1FUanZCMEtidm9rNl9NMllESWJCYVk2Um90Z1plOGVKSklMZE05eWFhUjVjcXByOTk0WVp2c2xKdTRGR1BKczNEb2s0dnpVQXM2Z0tSSE1IWUo5UjhTcGY

[2018-07-13 14:24] witty123 commented on #533
Jan and Feb newsletter
[Archive.zip](https://github.com/coding-blocks/codingblocks.com/files/2193024/Archive.zip)

[2018-07-13 14:41] witty123 commented on #533
@architkshk updated April newsletter as well

[2018-07-13 14:46] #533 closed

[2018-07-13 16:56] pg07codes opened #535 "content trimmed"
![x](https://user-images.githubusercontent.com/34238240/42703901-910e1594-86eb-11e8-9ede-d3b0579780c7.JPG)

the information part is trimmed at the sides of right most cards.

[2018-07-15 08:58] Rupeshiya commented on #442
@witty123  should I add both these two which you have mentioned  ?

[2018-07-15 09:29] Rupeshiya opened #536 "Add feature for feedback."
After clicking on Send message there should be feedback like "your message has been sent successfully" or something else to make it more interactive.
![screenshot 5](https://user-images.githubusercontent.com/31209617/42732463-9fc7127a-883f-11e8-805a-7b42ad969169.png)

[2018-07-15 09:31] Rupeshiya commented on #29
Add feature for feeedback .
Refference to #536

[2018-07-15 09:33] Rupeshiya commented on #536
@championswimmer  have a look at that  and share your view .
Thanks

[2018-07-15 09:46] Rupeshiya commented on #536
Should I work on this issue @championswimmer

[2018-07-16 11:10] witty123 commented on #442
Yes. Thanks.

[2018-07-16 11:11] witty123 commented on #442
@till-tomorrow you can claim your bounty points for reporting the issue.

[2018-07-16 11:12] Rupeshiya commented on #442
@witty123  have look at issue #536

[2018-07-16 11:14] #490 closed

[2018-07-16 11:55] Rupeshiya commented on #536
@witty123  look at it .

[2018-07-27 12:57] sak6e opened #546 "Wrong symbols(- & +) in FAQ parts."
'+' should be there to expand a question but on the site there's a '-'
After expanding, '-' should be there but there's a '+' on the site.
And once expanded, it can't be contracted back.
![screenshot from 2018-07-27 17-17-26](https://user-images.githubusercontent.com/22349909/43321673-41aca15c-91ca-11e8-8eed-0f70d689cd82.png)
(with reference to #29 )

[2018-08-04 22:59] championswimmer opened #552 "convert map addresses to latitude, longitude"
as visitors increased, we are hitting geocoding free tier limit.

no problem - let's use hardcoded lat/lng markers.

[2018-08-05 02:43] architkshk commented on #552
@championswimmer have you enabled billing on the account to enable $200 free monthly credit?

[2018-08-05 06:37] Dhroov7 commented on #552
@championswimmer Done. PR #554

[2018-08-05 15:55] #513 closed

[2018-08-05 20:48] firefinchdev commented on #552
@championswimmer
Done #555
Pls Review.

[2018-08-06 20:34] #546 closed

[2018-08-08 10:14] #552 closed

[2018-08-08 10:26] tinkrboy commented on #29
when on the page https://codingblocks.com/resources/ and clicked on the readmore button of every section then it is not using correct route path.
For instance: i am on javascript section of resources and click on Read More button then it is redirecting to https://codingblocks.com/resources/resources/javascript/.
**Expected Result:**  It should open https://codingblocks.com/resources/javascript/
**

[2018-08-10 08:38] firefinchdev opened #561 "Success Story Page"
There can be a success story page to consume the new API.

[2018-08-11 10:30] witty123 opened #563 "Structured data for seo"
* Need structured cards for courses to have better seo and user experience

[2018-08-13 06:28] #561 closed

[2018-08-13 08:08] #563 closed

[2018-08-13 08:15] witty123 opened #566 "Redirect online courses to online CB"
- [ ] Online courses tab should open online.codingblocks.com in a new window, similarly the dropdown links for online courses tab should direct user to specific courses on online codingblocks
<img width="1114" alt="screen shot 2018-08-13 at 1 38 45 pm" src="https://user-images.githubusercontent.com/7976098/44020059-4b5c2a4c-9efe-11e8-90b5-271467274864.png">

- [ ] Register button should direct to

[2018-08-13 08:44] VibhorCodecianGupta commented on #566
#566, already done earlier.

[2018-08-13 08:52] architkshk commented on #566
@witty123 "try for free" redirects to online codingblocs courses page. maybe i should change register now to online course's page and replace "try for free" with "details"

[2018-08-13 08:53] witty123 commented on #566
@architkshk both should redirect to that page only

[2018-08-13 08:56] VibhorCodecianGupta commented on #566
@witty123
There is a C++ (DS & Algo) course in codingblocks.com. However, there are two courses in online.codingblocks.com, Launchpad and Algo++. What I've done is, I've added a course called C++ Advanced (DS & ALgo) in the online courses tab which redirects to Algo++ and a course C++ Foundation (with DS & Algo) which redirects to Launchpad. Works?

[2018-08-13 08:58] architkshk commented on #566
@witty123 Done #568

[2018-08-14 10:59] #566 closed

[2018-11-11 08:14] abhishek97 opened #590 "Add banner at the bottom of every classroom course"
Hi @VibhorCodecianGupta can you please look into this.
![whatsapp image 2018-11-11 at 1 37 59 pm](https://user-images.githubusercontent.com/8109774/48310589-9b2d1900-e5b7-11e8-91ed-a8fc30c7885e.jpeg)

[2018-11-11 08:16] abhishek97 commented on #590
@VibhorCodecianGupta

[2018-11-11 09:37] VibhorCodecianGupta commented on #590
@abhishek97 will do. Is the design already available or do I have to design one?

[2018-11-12 07:53] witty123 commented on #590
@VibhorCodecianGupta You've to add the banner of "Get free access to online course"(the one in red) in every classroom course page. Design will be same as shared in the description.

[2018-11-14 09:18] witty123 commented on #590
Closed in #593

[2018-11-14 09:18] #590 closed

[2018-12-30 12:20] lakshyabatman commented on #536
I can work on it!

[2019-01-21 14:02] viditvarshney commented on #536
## Can i Work on this Issue?

[2019-01-21 14:06] viditvarshney commented on #511
@kunalvishnoi  if issue is solved then close the issue

[2019-01-21 18:35] #511 closed

[2019-02-09 11:45] TheOptimisticCoder opened #636 "typo in faq section of React Bootcamp"
In the Faq section of react bootcamp page the 3rd question is:
"I have 'to' idea of javascript, can I join?"
I think there should be 'no' instead of 'to'.

[2019-02-10 00:10] sarthak247 commented on #636
Can I work on this?

[2019-02-10 18:42] #636 closed

[2019-02-12 17:28] viditvarshney commented on #536
can i work on it ?
@championswimmer

[2019-05-15 01:16] rakshitkumarcse commented on #535
@witty123 @abhishek97 Is this issue still open?

[2019-05-15 18:14] muskankhedia opened #660 "Adding package-lock.json to gitignore"
As the package-lock.json gets modified on every npm install and create problems for the contributors if pushed by mistake in any of the pull requests. So instead of keeping a check on every pull request, it is better to add it in the .gitignore file so it won't create disturbances anymore.

[2019-05-15 18:18] muskankhedia commented on #660
@witty123 Can I add this?

[2019-05-15 19:26] abhishek97 commented on #660
You should never ignore lock files. They are meant to committed to the repo, as they are required to reproduce exact dependencies. Ignoring lock files defeats their purpose. I encourage you to read about why we need lock files and how do they work

[2019-05-15 19:26] #660 closed

[2019-05-16 03:19] muskankhedia commented on #660
Thank you. I have checked for it and now well aware of the advantages and disadvantages of committing a package-lock.json file, and however, its advantages have more worth than the disadvantages.

[2019-05-16 06:11] samagragupta commented on #449
@championswimmer Close this issue.

[2019-05-18 09:49] capedcrusader23 commented on #481
is this issue still open?if i can do it

[2019-05-22 17:57] shubhamofbce commented on #535
is this issue still open?? I want to work on this.

[2019-05-22 17:59] hjain5164 commented on #442
Is this issue still open??

[2019-05-22 17:59] shubhamofbce commented on #483
It is still open can i work on it???

[2019-05-22 17:59] hjain5164 commented on #481
Is it still open??

[2019-05-25 13:09] Shiwank19 commented on #444
Unable to get anomaly checked using chrome inspect for different screen resolution in portrait as well as landscape mode.Please tell the specific resolution on which it occurs.

[2019-05-27 14:38] TheOneAboveAllTitan opened #676 "Responsiveness on login screen"
- [ ] Avatar at login with OTP is broken

![Screenshot_20190527_200109](https://user-images.githubusercontent.com/32094433/58426622-aad6ff80-80ba-11e9-977e-140f440ac39a.png)

- [ ] Login with OTP text doesn't fit inside button in responsive dite.

![Screenshot_20190527_200735](https://user-images.githubusercontent.com/32094433/58426776-1caf4900-80bb-11e9-9d43-684a146a50a5.png)

[2019-05-28 18:21] pg07codes opened #677 "page breaks down on clicking send message"
- page before clicking on the send message button (with empty fields)
- empty fields should not submit form .
![Peek 2019-05-28 23-39](https://user-images.githubusercontent.com/34238240/58501479-2495e880-81a2-11e9-800c-21b4eea3c320.gif)
- page after the button press on form (empty submission successfull)  is completely different and seems broken

![Peek 2019-05-28 23-47](https://user-images.github

[2019-05-28 18:27] pg07codes opened #678 "alumni page is blank"
https://codingblocks.com/alumni.html
- this page is blank
- it fetches some data but is not displaying it.

[2019-05-29 19:50] #535 closed

[2019-06-21 13:54] promaroy commented on #444
Can I work on this issue??

[2019-07-16 05:44] crusader2000 commented on #29
We can add hero sliders for the online and classroom courses for the main site. We can use third party scripts for this.

[2019-07-16 05:47] crusader2000 commented on #397
I have added a hero slider for online courses in this pull request.
https://github.com/coding-blocks/codingblocks.com/pull/699

[2019-07-16 05:51] crusader2000 opened #700 "Adding Hero Sliders for the courses on main page"
This issue is in reference to https://github.com/coding-blocks/codingblocks.com/issues/29

[2019-07-29 06:11] radharaniraj commented on #476
i want to work on this issue,can i start to work on this??

[2019-07-29 06:16] radharaniraj commented on #481
i want to work on this issue,can i work on this??

[2019-07-29 06:20] radharaniraj commented on #489
is this issue still open,can i work on this issue??

[2019-07-29 06:22] radharaniraj commented on #504
is this issue still open,can i work on this??

[2019-07-29 19:31] sarthak-1998 commented on #481
sure, You can work on it.

[2019-07-30 11:35] radharaniraj commented on #481
I already install  gulp but why i'm not getting version of gulp,or not accessing server

[2019-07-30 18:44] sarthak-1998 commented on #481
Please use BOSS Gitter channel for queries.

[2019-08-04 11:14] muskankhedia commented on #481
Do we have to add another topic as *new talents* or append the mentioned name in *our team* list?

[2019-08-15 20:38] sarthak-1998 opened #721 "Campus Blocks"
Please make a page for Campus Blocks With a form to apply !

simillar to CA page

[2019-08-24 21:30] sarthak-1998 opened #732 "Contribute Page for Blogs"
Need a web page where Content writer can submit their content and apply to be content writer

[2019-08-24 21:31] sarthak-1998 commented on #732
https://www.geeksforgeeks.org/how-content-writing-at-geeksforgeeks-works/ - to get an idea

[2019-08-24 21:37] sarthak-1998 opened #733 "Campus ambassador page"
Need to show more info with creative designs and showcase videos and events

[2019-08-24 21:37] sarthak-1998 commented on #733
https://www.geeksforgeeks.org/campus-geek-of-the-month/ - for reference

[2019-08-24 21:38] sarthak-1998 commented on #732
https://contribute.geeksforgeeks.org/guide-to-write-an-article/

[2019-08-24 21:45] sarthak-1998 commented on #732
https://dzone.com/pages/contribute

[2019-08-28 23:05] sarthak-1998 opened #734 "Guidelines, Code of Conduct and logos"
https://www.gatsbyjs.org/guidelines/logo/ for ref

[2019-08-30 22:17] sarthak-1998 commented on #734
https://swag.netlify.com/thanks

[2019-08-31 11:07] sarthak-1998 commented on #734
https://angular.io/presskit

[2019-09-02 20:41] sarthak-1998 commented on #733
https://www.topcoder.com/blog/topcoder-cognitive-community-campus-ambassador/

[2019-09-02 20:41] sarthak-1998 commented on #733
https://www.analyticsvidhya.com/campus-ambassador/

[2019-09-02 20:41] sarthak-1998 commented on #733
https://www.hackerearth.com/docs/wiki/campus/introduction/

[2019-10-07 10:46] rishabh-bansal opened #741 "Add CAST/APAT Banner 12th October"
@witty123 @abhishek97 @vdvibhu20

[2019-10-07 11:35] tulsi-prasad commented on #734
does this issue yet needs contribution?

[2019-10-07 19:22] ram-nad commented on #678
Can I work on this issue?

[2019-10-07 20:57] sarthak-1998 commented on #734
yes, you can definitely contribute on this issue.

[2019-10-07 22:03] DEBSUBHRO commented on #476
Can I work on this?

[2019-10-07 22:05] DEBSUBHRO commented on #489
Can I check this?

[2019-10-07 22:06] DEBSUBHRO commented on #442
Can I check it?

[2019-10-07 22:09] DEBSUBHRO commented on #504
Can I work on this?

[2019-10-08 03:14] imagentleman opened #743 "All maps in the site don't show up"
None of the maps show up in the site (about and centers pages).

The console shows an error prompting you to enable billing.

<img width="1259" alt="Screen Shot 2019-10-07 at 10 09 54 PM" src="https://user-images.githubusercontent.com/2272928/66364440-52105100-e94f-11e9-82a0-84fa12c0002f.png">

I suggest using the SKU basic embed which is free without limits right now:
https://developers.google.co

[2019-10-08 05:37] tulsi-prasad commented on #734
what exactly do you want out of this? a new page or a section within a previous page? where is the content?

[2019-10-08 12:39] dotslash21 commented on #743
It's a Google Cloud billing issue...

#### Console Log:
`You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started
_.wd @ js?key=AIzaSyD9miWyXZzVoL5wLraLJPrQJICNKRAa6Vs&callback=initializeMaps:62`

[2019-10-09 02:21] thisisabdus opened #748 "Submission of contact form returns 'Internal Server Error'"
If I try to submit information using the contact from available in footer area, I get redirected to https://cbemail.herokuapp.com/contact which shows a message 'Internal Server Error'.
(Might be related to #677)

[2019-10-09 09:38] sarthak-1998 commented on #734
new pages for guidelines, logos and code of conduct to be present in footer.

[2019-10-09 09:39] sarthak-1998 commented on #734
also for content use the gitter channel, maintainer will provide you.

[2019-10-09 20:16] itaditya opened #753 "Fix registration form accessibility"
Currently the Registration Form of the landing page doesn't have any labels. They just rely on placeholders.

Firefox Accessibility checker reports this issue and it is a well known UX practice to keep label.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/15871340/66516891-b4a84f00-eaff-11e9-806e-5c21a301269e.png">

I can fix the accessibility bug by adding labels an

[2019-10-09 20:21] itaditya opened #754 "Improve contrast of Events page heading"
Currently the heading is white colored and the background is also light colored and as a result the text can't be read properly.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/15871340/66517146-37c9a500-eb00-11e9-8809-1fc2cbdfa5b1.png">

With some CSS changes the background contrast can be improved significantly.

<img width="1680" alt="image" src="https://user-image

[2019-10-09 20:48] sakchi17 commented on #754
I would like to work on this issue.

[2019-10-10 04:17] subhamX commented on #743
We can use Leaflet. It's open-source and works flawlessly. @admin, please share your opinion of this. This problem is on Events and About page too.

**In Events.html**

![1](https://user-images.githubusercontent.com/43654114/66538635-e1ca2100-eb42-11e9-988d-a8329aa97eb3.PNG)

**In About.html**

![2](https://user-images.githubusercontent.com/43654114/66538638-e7c00200-eb42-11e9-9ddf-a08b5f5fc279.PN

[2019-10-10 15:18] yashacon opened #756 "Addition of Navigation Button"
The **"Go to Top Button"** is at the bottom of the webpage which makes the navigation difficult. Since this button is present at the bottom of the page, anyone who is present at the middle of the page can't navigate to the top without scrolling.

![Screenshot (2)](https://user-images.githubusercontent.com/32675391/66581728-4070b880-eb9e-11e9-8bb1-8011ae72e97e.png)

We could add a static  'Go to To

[2019-10-10 15:19] arpit9667 commented on #756
I am working on this issue. It will take an addition of an HTML button with the position fixed on the HTML container.

[2019-10-11 03:41] esales commented on #753
I'm working in this issue.

[2019-10-11 04:08] ChiragAgarwal7 commented on #733
Can I work on this?

[2019-10-11 06:55] BadduCoder opened #762 "Unexpected result on Submitting form without verifying captcha."
When submitting the form without verifying captcha. One shouldn't be able to submit the form.
But this doesn't happen, instead we get redirected to
`https://cbemail.herokuapp.com/?error=1#form`
and response is
`{"message":"There is no God"}`

**Expected Behaviour:**
One shouldn't be able to submit the form until the captcha is verified.

**Current Behaviour:**
Form getting submitted,
Getting redir

[2019-10-11 07:02] BadduCoder commented on #762
I would like to work on this issue.

[2019-10-11 23:14] daniloff200 commented on #477
Same for all centres, except Dehradun centre

[2019-10-11 23:24] daniloff200 commented on #483
looks like that was fixed, and can be closed, right? @witty123

[2019-10-11 23:25] daniloff200 commented on #489
also should be closed, looks like @witty123

[2019-10-12 00:17] daniloff200 commented on #476
Looks like that was fixed, @witty123 , can you close it?

[2019-10-12 18:56] daniloff200 opened #769 "FAQ button on Angular Bootcamp page is broken"
On https://codingblocks.com/bootcamps/angular.html page we have FAQ button, but, it doesn't work, because there's no FAQ section on this page

![Selection_031](https://user-images.githubusercontent.com/13692220/66706431-07217f80-ed3b-11e9-94cd-0f12efec10d1.png)

My solution is to remove FAQ button, if we don't have questions

OR

Can somebody share these questions here, and I can add them

[2019-10-12 20:34] daniloff200 opened #771 "Button Checkout Courses doesn't do anything"
On this page https://codingblocks.com/coming-soon.html we have Checkout Courses button, but, if you click on it, it does nothing.

[2019-10-12 21:53] daniloff200 opened #774 "Link to one of the photos on review page is broken"
On https://codingblocks.com/classroom-courses/advanced-data-structures-and-algorithms-for-interviews.html photo of DHRUV KULSHRESHTHA is 53.jpg, which actually doesn't exist, and was deleted in #710 , maybe, accidentally

Gonna go down to commits before, and return the image back

[2019-10-12 23:55] daniloff200 opened #775 "Logos are not visible at Success Stories page"
On https://codingblocks.com/success-stories/ bunch of logos a broken. Here's the examples (that's not all)

![Selection_032](https://user-images.githubusercontent.com/13692220/66709055-c9d1e780-ed64-11e9-982e-9cbfde842792.png)
![Selection_033](https://user-images.githubusercontent.com/13692220/66709056-cb9bab00-ed64-11e9-9387-00bd0b5bb613.png)
![Selection_034](https://user-images.githubusercontent

[2019-10-13 00:11] daniloff200 commented on #775
There are various companies with that, but, the most popular is Adobe. Adobe.com is not available on Clearbit

[2019-10-14 14:34] imSanjaySoni commented on #536
🙋‍♂️ @Rupeshiya Is it done or I should work on it?

[2019-10-14 15:11] daniloff200 commented on #774
lol, @VIshal1003, nice code stealing

Just copy my PR, ahahah,  please, don't tell, that you have not seen my PR above

[2019-10-14 16:49] Vishal1003 commented on #774
@daniloff200 I really didn't saw your pr. If I would have seen it before I'd have never made a pr. I'm a beginner. I saw this issue open and so I contributed to this (I was unaware that it was fixed by you before) I'm sorry for my fault.

[2019-10-15 05:57] Rupeshiya commented on #536
@imSanjaySoni @viditvarshney sorry for late reply.
Still this is not implemented I think. Confirm @championswimmer

[2019-10-15 12:34] may55 commented on #769
Can I work on this issue?

[2019-10-16 05:38] sarthak-1998 commented on #733
yeah, sure

[2019-10-16 15:14] helios1101 opened #803 "Maps are not getting rendered on main page."

[2019-10-16 16:55] R3M4G commented on #803
Can you assign me to this issue?

[2019-10-17 02:58] kcclemo commented on #775
The URLs are populated from here:
https://app.codingblocks.com/public_stories

But, that data does not appear to be on Github.

[2019-10-18 14:11] Andre-rsfc commented on #775
I will work on it

[2019-10-18 14:11] Andre-rsfc commented on #775
😄

[2019-10-18 17:01] Andre-rsfc commented on #775
The API `https://app.codingblocks.com/public_stories` Is blocked by cors :/, but the change to not break the image is use `onerror`in html tag.

[2019-10-19 11:11] JohJohan opened #807 "<img> tag is self closing"
The image tag is self closing see as it cannot have child nodes.

More info see:
https://stackoverflow.com/questions/23890716/why-is-the-img-tag-not-closed-in-html/23890817

[2019-10-19 11:27] JohJohan commented on #807
See https://github.com/coding-blocks/codingblocks.com/pull/808

[2019-10-23 21:50] nik72619c commented on #754
@itaditya are you still up on this?

[2019-12-26 14:10] iamrajiv opened #836 "white spaces around the header image of codingblocks.com website"
Currently, [https://codingblocks.com/](https://codingblocks.com/) site has a header image with white spaces around it. Currently, the header image of the Coding Blocks logo looks like this.

![cb](https://user-images.githubusercontent.com/42106787/71477944-fac5a280-2812-11ea-8332-1d3da607c984.JPG)

I think the header logo without white spaces around it will look great means transparent background.

[2020-03-22 13:04] #836 closed

[2020-04-07 09:52] #769 closed

[2020-04-07 09:52] daniloff200 commented on #769
Nobody cares about that

[2020-04-07 09:52] daniloff200 commented on #774
Nobody cares about that

[2020-04-07 09:52] #774 closed

[2020-04-07 09:53] daniloff200 commented on #771
Nobody cares about that

[2020-04-07 09:53] #771 closed

[2020-04-07 09:54] #775 closed

[2020-04-07 09:54] daniloff200 commented on #775
Nobody cares about that

[2020-04-19 14:13] subodhk01 commented on #807
What exactly are you trying to say here??

[2020-04-19 14:32] JohJohan commented on #807
```<img>``` tag doesn't have to be closed see stackoverflow link and my pull request for the fixes.

[2020-04-19 14:35] subodhk01 commented on #807
It doesn't matter if you use /> or not

[2020-04-19 14:44] JohJohan commented on #807
Okay then i close this ticket

[2020-04-19 14:44] #807 closed

[2020-05-07 17:33] sarthakkundra commented on #756
I would like to work on this.

[2020-05-07 22:29] spiyush0212 commented on #481
Hello, if this issue is still open, then I will be more than happy to work on it :)

[2020-05-08 16:06] Sapna2001 commented on #732
Is this issue open for boss 2020

[2020-05-11 13:09] Sushant2 commented on #446
Is this issue still open?
i would like to work on this!
please assign it to me!

[2020-05-12 06:27] Prakhar824 commented on #756
I would like to work on this issue, i will create a small button for this functionality which will stick on the right bottom corner of the screen and will allow to navigate to the top of the page anytime.

[2020-05-12 10:33] sharannyobasu opened #865 "Time stamp overlap in NOTES section"
Fix the notes section of the course.
The notes get overlapped, especially the time stamps. It becomes very difficult to acces each of them.
<br>
![Screenshot (252)](https://user-images.githubusercontent.com/55141861/81673769-c113d200-9469-11ea-8e41-15ef98484987.png)

[2020-05-12 11:26] Deeksha2501 opened #866 "Need a grammar check in README file"
There are some grammar issues in README file.
In some sentences 'the' is omitted.
Can I work on this issue?

[2020-05-14 05:06] Sujal123456 commented on #721
Sir ,
I would like to work on this issue
Please allow me to do so.

[2020-05-14 05:11] Sujal123456 commented on #678
I can definitely solve this issue.
Please allow me once.

[2020-05-14 07:47] pg07codes commented on #678
if its not been solved, you are most welcome to solve it.

[2020-05-15 05:50] Sapna2001 opened #867 "Centers dropdown"
When the center's option is clicked the dropdown is on the right side and the user cannot view it. So instead of side dropdown, a bottom dropdown can be used.
![Screenshot (187)](https://user-images.githubusercontent.com/56690856/82016067-d113f780-969d-11ea-8f98-0d5ba42e7158.png)

[2020-05-15 08:35] samagragupta commented on #442
I will work on that.

[2020-05-15 13:03] samagragupta opened #869 "Side menu of centres is not showing"
![Capture](https://user-images.githubusercontent.com/32234926/82053207-9b413400-96da-11ea-8e32-9d4ec455a55f.JPG)

[2020-05-15 16:02] akashz19 commented on #442
I will like to work on that.

[2020-05-15 16:16] samagragupta commented on #442
@akashz19 I am working on that.

[2020-05-15 17:03] arnabuchiha opened #870 "Not able to change the video quality properly"
The quality of videos on the website cant be change properly. The bitrate given while playing the video is low which creates a stuttering effect while playing the video with higher speed of about 1.5x.
![Screenshot from 2020-05-15 22-29-54](https://user-images.githubusercontent.com/26869021/82076888-19fa9900-96fc-11ea-8f86-dd1941d19dfc.png)

[2020-05-15 19:13] pranjalshikhar commented on #481
Hello, is the issue is still open? I can easily fix this issue.

[2020-05-16 03:29] P-riyanka-prasad commented on #29
when clicking on the **link**
the text get overwritten resources and campus ambassadors
[link](https://codingblocks.com/resources)

![Annotation 2020-05-16 083009](https://user-images.githubusercontent.com/59612128/82109423-51486480-9753-11ea-828f-cc22c0c95c92.png)

[2020-05-16 07:56] sanskarbansal opened #871 "Missing: Footer section in Live Classes section is missing."
Footer section is missing at [Live Classes](https://codingblocks.com/live-classes.html) page.

[2020-05-17 08:09] Mayank4git opened #872 "[Readme] missing one command to host website locally"
When we run website locally with mentioned instructions in readme file.it just build project only but **does not deploy it on locally in browse**r.On terminal we need some other instruction also to run website locally on browser also.
-------------------------------------------------
With **npm run build** it just build the project but does not deploy it on browser locally.
![Screenshot from 2020-

[2020-05-17 08:10] Mayank4git commented on #872
is there bounty for this issue for readme file.
@hereisnaman

[2020-05-17 08:15] Mayank4git opened #873 "[Readme] missing one command to host website locally"
When we run website locally with mentioned instructions in readme file.it just build project only but does not deploy it on locally in browser.On terminal we need some other instruction also to run website locally on browser also.

With **npm run build** it just build the project but does not deploy it on browser locally.
_______________________________________________________________
![Screenshot

[2020-05-17 08:16] Mayank4git commented on #873
is there bounty point for this issue.?

[2020-05-17 12:39] souravs17031999 opened #874 "Contact Us -> Centres not being shown properly"
Requirements for testing : Desktop , Windows 10, chrome Version 81.0.4044.138 64 bit

Steps to reproduce the issue :
* Open the home page - https://codingblocks.com/
* Hover over the "Contact Us" section on right side of the top most nav bar.
* Then, hover over "Centres" section.

The "centres" are not shown properly and it is hidden by the overlayed object containing "contact us" menus.

I have c

[2020-05-17 12:40] abhishek97 commented on #874
Accepted. Have added labels for BOSS.

[2020-05-17 13:03] Panda545 commented on #874
@souravs17031999 Can I work on this ?

[2020-05-17 15:30] mnb27 opened #875 "Logged in but still asks for name and email to chat !!"
Refer to the screenshot. @abhishek97
![Screenshot from 2020-05-17 20-59-00](https://user-images.githubusercontent.com/52792904/82152783-44c22a00-9881-11ea-93c2-d0926fbe2bbe.png)

[2020-05-17 16:23] souravs17031999 commented on #874
Yes sure , go ahead @Panda545 .

[2020-05-17 19:02] samagragupta opened #876 "Buttons are not aligned properly"
![Capture](https://user-images.githubusercontent.com/32234926/82157436-09365880-989f-11ea-9e70-c75a9c4a9df4.JPG)

[2020-05-17 19:18] Rk221b commented on #874
@souravs17031999  Can i also work on it ?

[2020-05-18 01:28] souravs17031999 commented on #874
You can work on it @Rk221b as long as Coding blocks doesn't have any issues in awarding bounties (if this is related to bounties )

@abhishek97 can help .
Can multiple work on same issue ?

[2020-05-19 00:15] spiyush0212 commented on #481
Please respond
And if the issue has been resolved, then kindly close it :)

[2020-05-19 04:31] samagragupta opened #878 "Header is not visible properly for smaller window size"
![Capture](https://user-images.githubusercontent.com/32234926/82058249-1d812680-96e2-11ea-8448-58b7e93d2b9a.JPG)

[2020-05-19 04:52] samagragupta commented on #876
@abhishek97 Please assign bounty.

[2020-05-20 18:22] pg07codes opened #880 "Dead links"
I found these urls on https://codingblocks.com which either return 404 or 500 error. These should be corrected or removed.
- https://online.codingblocks.com/courses/coding-interview-preparation-course-online<-->404
- https://play.google.com/store/apps/details?id=com.gamershq.FlyingModi<-->404
- https://online.codingblocks.com/courses/angular-node-js<-->500
- https://online.codingblocks.com/courses

[2020-05-21 07:51] chiraggoel360 commented on #29
![Screenshot_2020-05-21-13-21-16-36](https://user-images.githubusercontent.com/51852665/82536395-05882780-9b66-11ea-92d2-90ec27101b25.jpg)
Need to login again and again

[2020-05-21 07:55] chiraggoel360 commented on #29
![Screenshot_2020-05-21-13-24-32-10](https://user-images.githubusercontent.com/51852665/82536698-7d565200-9b66-11ea-99dd-cbf0ccf7c3ec.jpg)
Cant load the google map even the location is enabled

[2020-05-21 08:19] chiraggoel360 commented on #29
![Uploading 15900491207388945696221576018051.jpg…]()
There must be display of link

[2020-05-21 08:20] chiraggoel360 commented on #29
![15900491680058082781603548206758](https://user-images.githubusercontent.com/51852665/82538792-e8555800-9b69-11ea-9aca-8df7b3887646.jpg)
There must be link to copy

[2020-05-21 10:07] pg07codes commented on #880
not entirely sure if these links are correctly constructed by the tool i used, so closing this issue for now.

[2020-05-21 11:37] samagragupta commented on #874
@abhishek97 I have created that issue earlier. Please add a bounty to that.

[2020-05-21 12:35] pg07codes commented on #880
verified these links do not work. not entirely sure but i guess hard 404's may affect SEO.

[2020-05-22 11:11] siddharth25pandey commented on #442
@witty123 in which folder footer file is present?

[2020-05-27 16:08] ADITIJ700 commented on #29
@championswimmer

1. **SUGGESTIONS**

1) ### **CHAT BOT CLOSE SIGN TO BE KEPT ON RIGHT**
![chatbox](https://user-images.githubusercontent.com/36340264/83038882-18fe2b80-a05b-11ea-8774-1847638ba0f4.png)

- It's a genral convention to close a window on the right side,hence it terms of UX ,the close sign when kept on the right,would be more beneficial.

 2)  ### **break between the content**
[https:/

[2020-05-28 10:06] roubalsehgal opened #885 "Drop-down Menu Not Visible"
The drop-down menu for **CONTACT US** --> **CENTRES** is not visible.

But in **SMALL SCREEN SIZE** drop-down menu is visible.

Screenshots are attached below ⤵

**DESKTOP VIEW**

![Screenshot (134)](https://user-images.githubusercontent.com/44202409/83127941-667ca600-a0f8-11ea-9d67-8b171954fea4.png)

**MOBILE VIEW**

![Screenshot (137)](https://user-images.githubusercontent.com/44202409/83128306-

[2020-05-28 10:48] ADITIJ700 opened #886 "HOME PAGE FIRST DIVISION CONTAINS TWO PARAGRAPHS CONFLICTING WITH EACH OTHER"
- Live classes paragraph in the background and "we bring classroom.....19" are very close to each other,hence unreadable.
- Same is with the second and third slide ,where the former summer wars is clashing with "introducing batches" and  later "online courses" with "learn from home"

![home_page](https://user-images.githubusercontent.com/36340264/83039582-fcaebe80-a05b-11ea-9c06-259f30699e0a.png)

[2020-05-28 10:50] ADITIJ700 opened #887 "Google Maps Not Working"
![maps](https://user-images.githubusercontent.com/36340264/83041590-45677700-a05e-11ea-9729-1aa3bb932d97.png)

[2020-05-28 10:51] ADITIJ700 opened #888 "ITEMS NOT ALIGNED PROPERLY IN ABOUT US WHY CODING BLOCKS"
![wcb](https://user-images.githubusercontent.com/36340264/83043060-02a69e80-a060-11ea-9e2f-644aab4b8405.png)

[2020-05-28 10:53] ADITIJ700 opened #889 "Register Page not working"
- Elements not aligned properly and some links are not working.

[https://codingblocks.com/resources](url)

[2020-05-28 10:54] ADITIJ700 opened #890 "DE NOT RUNNING FOR JAVA,KOTLIN,GO languages"
- does not print 'Hello world" for the above languages.

[https://ide.codingblocks.com/](url)

[2020-05-30 03:58] krishnasonavane1999 commented on #29
Hello, Bhaiya I want to report one issue with the android app. **Issue is:**
 Suppose I played the video and some options are available on the screen like progress-bar, 10sec Pre, 10sec Next, and pause-play. but I observed that all these Icons remain on the screen until we touch again. (I want to say given time is more ). I observed in Hotstar App they have limited time like 2-3 sec and after that

[2020-05-30 04:00] krishnasonavane1999 opened #891 "Android app Issue"
Hello, Bhaiya I want to report one issue with the android app. Issue is:
Suppose I played the video and some options are available on the screen like progress-bar, 10sec Pre, 10sec Next, and pause-play. but I observed that all these Icons remain on the screen until we touch again. (I want to say given time is more ). I observed in Hotstar App they have limited time like 2-3 sec and after that, all

[2020-05-31 16:26] ADITIJ700 commented on #481
Please elaborate this issue

[2020-06-01 12:48] krishnasonavane1999 opened #892 "Course Video Browsing."
Hello, I want to report one issue which is regarding Video Player. Whenever I press **Windows** Button the speed of the video automatically decreases and if kept pressed for some time the speed comes to 0.000000000001 etc

[2020-06-03 14:50] pandeynandancse commented on #871
I have solved this issue . Waiting for merging. Footer section was missing in all dropdown links of Live Classes section. And resolved them all.
Here is my pull request : Update custom.css #894
Link for pull request : https://github.com/coding-blocks/codingblocks.com/pull/894
If admin is watching this issue ,then please have a look at this pull request.
Thanks,,,,

[2020-06-14 19:04] Deep1144 opened #895 "Wrong text on button on campus ambassador page"
Link : https://codingblocks.com/campus-ambassador-program.html

Button text here shold be **Register** or something like this not signup
For reference see the screenshot below

![Screenshot_20200615-002710_Chrome](https://user-images.githubusercontent.com/47331078/84601639-5823dd80-ae9f-11ea-9069-4c31d6bec95c.jpg)

[2020-07-15 12:25] #885 closed

[2020-07-20 18:41] ishika1727 opened #898 "Read More Reviews Button not aligned in mobile view"
Read More Reviews Button is left aligned in mobile view instead of being centre aligned. All other buttons/links are centre aligned .

P.S: Maybe it was designed in such a way, but seems a little odd.

![image](https://user-images.githubusercontent.com/42978414/87973631-7310ef80-cae6-11ea-8a75-6e35e16146e6.png)

[2020-07-27 20:13] twentyonedot commented on #874
@souravs17031999 Can I work on this?

[2020-07-30 03:19] Tabrez31 opened #901 "Scroll to Top Button is comming between course section while scrolling"
Sir,scroll to top button is comming in between course section and it will be better if we keep that at the **right side instead of left**(here it is not even at the left)
![image](https://user-images.githubusercontent.com/63347025/88876609-44f78200-d241-11ea-8952-8d2e26f38016.png)
i have marked it with here in the image!

If it is useful pls reply sir
thank you@coding Blocks

[2020-07-31 04:35] moriarity9211 commented on #29
Their is no Rate Limit on Codingblocks Login Through [OTP.](https://account.codingblocks.com/login/otp)
Impact :-- Attacker Might Takeover the user account by bruteforcing  OTP.
![image](https://user-images.githubusercontent.com/46393548/89000332-4dbf8500-d321-11ea-907c-cfd2286606ae.png)

[2020-08-17 22:04] hqrshguptq opened #903 "Text Misplaced!"
![Screenshot 2020-08-18 at 3 32 37 AM](https://user-images.githubusercontent.com/54597242/90448674-7908e900-e103-11ea-9510-b7328ee289f6.png)
"What our students say", not displayed correctly in browser mode.
Would like to work over this :)

[2020-08-23 07:37] ItsmeSauravSonu opened #904 "Unnecessary Image-holder icon at the right corner of navigation bar"

[2020-09-13 20:04] sharannyobasu opened #907 "Playback speed decreases upon minimizing window"
![image](https://user-images.githubusercontent.com/55141861/93027422-51d20880-f62a-11ea-9597-7355cc477c5b.png)

It sometimes drops down to 0.8 or 0.666666

[2020-09-18 20:15] vvvk-gh opened #908 "Broken Images , Improper text Alignment"
#### Description

Observed broken images , improper text alignment and also course content is not visible at [Interview Prep Bootcamp](https://online.codingblocks.com/courses/coding-interview-preparation-online#runs) page of [Coding Blocks](https://codingblocks.com/)

#### Screenshots

* Broken Images , Improper Text
![Screenshot 1 ](https://i.ibb.co/WgQjcbf/Screenshot-2020-09-19-Gear-up-for-Tech-

[2020-09-20 08:10] vvvk-gh opened #909 "UI bugs on Homepage"
# Bad UX , UI Bugs in Coding Blocks  Part -1

## Home Page

#### Url : [Link](https://codingblocks.com/)

1. Banner

   * Upon opening the homepage,  we observe a banner showcasing the current offers running in the coding blocks followd by a navigation bar in expand mode. Well, when we try to close the banner the navbar is still in collapsed state (but banner working fine in [Online Coding Blocks]

[2020-09-20 08:23] vvvk-gh opened #910 "UI bugs in Campus Ambassador"
# Bad UX , UI Bugs in Coding Blocks part -2

## Campus Ambassador

#### Url : [Link](https://codingblocks.com/campus-ambassador-program.html)

1. Buttons

   * Observed inconsistency in the button colors
   * In [home page](https://codingblocks.com/) all the buttons on hover change it's background color to white but in the [campus ambassador](https://codingblocks.com/campus-ambassador-program.html

[2020-09-20 19:15] vvvk-gh opened #911 "UI bugs in Login page"
# Bad UX , UI Bugs in Coding Blocks part - 3

## Login Page

#### Url : [Link](https://codingblocks.com/https://account.codingblocks.com/login)

1. Navbar Logo

   * Logo is too small compared to remaining pages in coding blocks

   Why to fix :

      * As logo represents the brand entity it should be maintain same size in all pages

   Suggestion :

      * Make it similar  to  [Home page](https

[2020-10-01 07:33] yashsehgal commented on #880
Hello, I want to work on this issue.

[2020-10-01 09:55] yashsehgal opened #913 "Invalid Javascript Comment"
This file has **invalid** comments
[code]

![image](https://user-images.githubusercontent.com/62352288/94794764-f8275780-03f9-11eb-9327-766f4ffb32d4.png)

Also, It is written that "Do not modify." Please take a look.

[2020-10-01 10:14] yashsehgal commented on #874
Hey @souravs17031999, Can I start working on this issue?

[2020-10-01 11:34] souravs17031999 commented on #874
@yashsehgal , @abhishek97 can help in this.

[2020-10-01 13:18] yashsehgal commented on #903
Hey @hqrshguptq, I checked the website and the statement "What our students say" is not at the center.

[2020-10-01 15:17] yashsehgal opened #916 "Typo Mistake"
I have found a typing error in the file named as ```index.hbs``` following the file path ```src\reviews\index.hbs``` in the project.
There are some spelling errors in this file that I want to correct. Some screenshots are given below.
![image](https://user-images.githubusercontent.com/62352288/94818797-21f17600-041c-11eb-8ea8-bc6a1ee46742.png)
In this code snippet mentioned below, there are some p

[2020-10-02 12:50] yashsehgal opened #918 "To add more university and college names"
There are some common colleges that are mentioned in the options-list. We can add more names to the code for our users.

[2020-12-18 16:03] Anmoldeep1509 opened #923 "HackerBlocks keeps refreshing itself"
It was the first time I launched the hacker blocks IDE to try it out,
but it just keeps refreshing continuously,
only navbar and sidebar loads and it immediately reloads, and this goes on and on.
![image](https://user-images.githubusercontent.com/31613431/102634430-d5dee380-4177-11eb-8030-0707a3ad68e1.png)
Hope this image helps someway.

Also, the site consumed around 40 MB in 20 - 25 sec (given t

[2021-03-09 12:22] Dhanashri26 commented on #903
Hey @hqrshguptq , I would like to make a try to solve this issue.

[2021-04-17 15:42] aman81200 opened #951 "nav bar not at proper place"
nav-bar is getting scrolled with the contents at https://codingblocks.com/centres/

[2021-06-16 05:32] varaprasadh opened #987 "nav bar is broken,"
![Screenshot from 2021-06-16 11-01-59](https://user-images.githubusercontent.com/29822601/122163150-53b74980-ce92-11eb-98ca-f9b21df618ad.png)

[2021-06-20 09:38] Abjcodes opened #989 "[Mobile version] Enroll now section overlapping heading text"
- The enroll now button and section is overlapping the heading texts.
- It is not horizontal scrollable as well.

![WhatsApp Image 2021-06-20 at 3 01 59 PM (1)](https://user-images.githubusercontent.com/42151354/122669072-360f1a80-d1d9-11eb-85fa-20540bf1bde0.jpeg)
![WhatsApp Image 2021-06-20 at 3 03 07 PM](https://user-images.githubusercontent.com/42151354/122669082-3d362880-d1d9-11eb-9ac4-be3a524

[2021-07-12 08:55] AbhinavXT opened #1006 "Broken Style. Content is on right side of the page"
![codingBLocks](https://user-images.githubusercontent.com/56548922/125259285-cba35300-e31c-11eb-9dd2-75d278b7313c.png)

[2021-07-20 17:05] Komal-99 commented on #1006
![image](https://user-images.githubusercontent.com/74819092/126365851-177de4a9-58f4-4e6f-8c6a-e4cccd3e6184.png)
in mine its going left their is lot of bug in html

[2021-08-18 08:45] AtharvaParkale commented on #989
Can I work on this issue?

[2021-10-01 17:53] vikasbhalla05 commented on #1006
I think this one is resolved now @AbhinavXT
But the one of @Komal-99 still remains

[2021-10-01 17:55] Komal-99 commented on #1006
Shall i do the needful?

[2021-10-02 14:30] imsahiljain opened #1045 "Testimonials section heading not aligned properly"
![image](https://user-images.githubusercontent.com/63599413/135720934-d07e8bd1-3f62-44b9-97ce-68ef3d68c651.png)

[2022-04-19 20:33] mjawaaad commented on #1045
hey i can work on this issue

[2022-10-10 08:13] Aartipandey01 commented on #1045
hey ! please assign me this issue.I can resolve this.

[2022-10-10 08:15] Aartipandey01 commented on #908
hey!please assign me this issue.I am a beginneer but i have potential to resolve this issue.